﻿
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
color: #666;
background-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
line-height: 1.53846154;
}

/*
Page Name header customization
*/
header.header  p {
  font-size: 21px;
  color: #333333;
  
}


.heading {
  font-size: 21px;
  color: #333333;
  
}


header.header  {
margin-bottom:25px;
  
}

/*
Done to resolve the issue with modal date control
*/

#ui-datepicker-div
{
    z-index: 8031 !important;
}



/*
Panels look white if looked on different screen so have increased the grey content
*/
.panel-default .panel-heading
{
    background-color: rgba(218, 218, 218, 0.71)
}


.panel.panel-default {
border-color: #CFD0D0;
}


.navbar-brand {
  float: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  line-height: 50px;
  display: inline-block;
  padding: 0 15px!important;
}



.popover {
	max-width: 800px;
	width: auto;
}


/*
Customize datatable classes to add padding between the datatable sorting icons and the datatable headings. 
This is needed because in some of the cases we pull the heading to right so that does not leave any space 
between the heading and the sorting icon
*/

.dataTables_wrapper .sorting:after 
{
  padding-left:10px;
  content: "\f0dc";
  color: #ccc;
}
.dataTables_wrapper .sorting_asc:after 
{
  padding-left:10px;    
  content: "\f0de";
}
.dataTables_wrapper .sorting_desc:after 
{
  padding-left:10px;    
  content: "\f0dd";
}



.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #000000;
}


.header.navbar, .footer.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: 998;
}


@media screen {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
@media (min-width: 768px)
{
    .vbox {
      display: block;
      border-spacing: 0;
      position: relative;
      height: 100%;
      width: 100%;
    }
}


/*
Customize the grid inside the tab to show aligned with the tabs
*/
.tab-pane > .container-fluid
{
    padding-left:0px;
}


.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
  border-bottom-color: #eaeef1 !important;
}

.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
  border-bottom-color: #eaeef1 !important;
}

.nav-tabs > li > a {
   background-color:#E3E3E3;
}

/*
td with b-a is adjusted to show the same color as the td border
*/

.b-a-table {
  border: 1px solid #dddddd;
}

table.CSP-Compact td, table.CSP-Compact th
{
    padding: 2px !important;
}