﻿#content {
    min-height: 300px;
}

#footerContainer {
    clear: both;
    position: relative;
    height: 1em;
    margin-top: -1em;
}

.form-stacked legend {
    padding-left: 0;
}
/*
commented out as it was overriding the app.css
.form-stacked label
{
    display: block;
    float: none;
    width: auto;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
}*/
.form-stacked .clearfix {
    margin-bottom: 9px;
}

    .form-stacked .clearfix div.input {
        margin-left: 0;
    }

.form-stacked .inputs-list {
    margin-bottom: 0;
}

    .form-stacked .inputs-list li {
        padding-top: 0;
    }

        .form-stacked .inputs-list li label {
            font-weight: normal;
            padding-top: 0;
        }

.form-stacked div.clearfix.error {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-left: -10px;
}

.form-stacked .actions {
    margin-left: -20px;
    padding-left: 20px;
}

/*

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ENET General Classes
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
.EnetUI-Block {
    display: block;
}

.EnetUI-InlineBlock {
    display: inline-block;
}

.EnetUI-DisplayNone {
    display: none;
}

.EnetUI-ShowOnlyInPrint {
    display: none;
}

.EnetUI-FloatRight {
    float: right;
}

.EnetUI-FloatLeft {
    float: left;
}

.EnetUI-PadAll {
    padding: 10px;
}

.EnetUI-PadAll-Small {
    padding: 5px;
}

.EnetUI-PadAll-Small-XX {
    padding: 3px;
}

.EnetUI-PadAll-Large {
    padding: 15px;
}

.EnetUI-PadAll-Large-XX {
    padding: 25px;
}

.EnetUI-PadTop {
    padding-top: 10px;
}

.EnetUI-PadTop-Small {
    padding-top: 5px;
}

.EnetUI-PadTop-Small-XX {
    padding-top: 3px;
}

.EnetUI-PadTop-Large {
    padding-top: 15px;
}

.EnetUI-PadTop-Large-XX {
    padding-top: 25px;
}

.EnetUI-PadBottom {
    padding-bottom: 10px;
}

.EnetUI-PadBottom-Small {
    padding-bottom: 5px;
}

.EnetUI-PadBottom-Small-XX {
    padding-bottom: 3px;
}

.EnetUI-PadBottom-Large {
    padding-bottom: 15px;
}

.EnetUI-PadBottom-Large-XX {
    padding-bottom: 25px;
}

.EnetUI-PadLeft {
    padding-left: 10px;
}

.EnetUI-PadLeft-Small {
    padding-left: 5px;
}

.EnetUI-PadLeft-Small-XX {
    padding-left: 3px;
}

.EnetUI-PadLeft-Large {
    padding-left: 15px;
}

.EnetUI-PadLeft-Large-XX {
    padding-left: 25px;
}

.EnetUI-PadRight {
    padding-right: 10px;
}

.EnetUI-PadRight-Small {
    padding-right: 5px;
}

.EnetUI-PadRight-Small-XX {
    padding-right: 3px;
}

.EnetUI-PadRight-Large {
    padding-right: 15px;
}

.EnetUI-PadRight-Large-XX {
    padding-right: 25px;
}

.EnetUI-Margin-Small {
    margin: 10px
}

.EnetUI-Margin-Small-XX {
    margin: 5px
}

.EnetUI-Margin-Large {
    margin: 20px
}

.EnetUI-Margin-Large-XX {
    margin: 25px
}

.EnetUI-Margin-Large-NoTop {
    margin: 0px 20px 20px 20px
}

.EnetUI-FormElement {
    margin-right: 15px;
}

.EnetUI-Font-De-Emphasize {
    color: #BFBFBF;
}

.EWF-UI-FormError {
    padding: 5px 3px 5px 3px;
    color: #c09853;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    display: none;
}

.EWF-UI-FormSuccessMessage {
    display: none;
}

.EWF-UI-FormGlobalErrorMessage {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-rigfht: 10px;
}

div.EnetWidget {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.EnetUI-Font-Small {
    font-size: 0.7em;
}

.EnetUI-Hidden {
    visibility: hidden;
}

.EnetUI-PaddingOverride-25 {
    margin-top: -25px;
}

.EnetFieldSet {
    display: block;
}

form.EWF-UI-Form-Inline .EWF-UI-FormError {
    padding: 5px 3px 5px 3px;
    color: #C09853;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

form.EWF-UI-Form-Inline .EWF-UI-Form-Control, .childForm.EWF-UI-Form-Inline .EWF-UI-Form-Control {
    display: inline-block;
    vertical-align: top;
    padding: 5px 5px 5px 5px;
}

form.EWF-UI-Form-Inline .EnetFormControl {
    display: inline-block;
    vertical-align: top;
    padding: 5px 5px 5px 5px;
}

form.EWF-UI-Form-Inline .EnetFieldSet {
    display: inline-block;
}

form.EWF-UI-Form-Inline .form-actions {
    display: inline-block;
    vertical-align: top;
    /* NOTE:  These bottom settings are needed to offset the values from bootstrap's form-actions */
    padding: 0px;
    margin-top: 27px; /*  5px is needed to align form-action buttons with rest of the inline form */
    margin-bottom: 0px;
    background-color: transparent;
    border: 0px solid #000;
}

.EWF-UI-DynamicForm {
    margin: 0px 0 0 0px;
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    /* IE6-7 */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.enetMetric {
    text-align: center;
    padding: 10px;
    background-color: #C2C2C2;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.enetMetricData {
    display: block;
    margin-bottom: .4em;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: #4A515B;
}

.enetMetricDataTitle {
    font-style: normal;
    color: #ffffff;
}

/*

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ENET Quick Dropdown
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

div.enetquickdropdown {
    display: inline-block;
    width: auto;
}

    div.enetquickdropdown div.dropdowndetails {
        position: absolute; /* Needed to make content in child div float on top of other content and not push it down */
        display: none; /* Needed to hide the child div initially */
    }

div.enetRightAlignedDropdown {
    position: relative;
}

    div.enetRightAlignedDropdown div.dropdowndetails {
        width: 150px; /* Size is needed when position is parent position is relative and child position is absolute otherwise child takes on parent's width */
        right: 0;
    }


div.dropdowndetails, div.enetquickdropdown {
    /* Define behavior of child div when the mouse is hovering parent div or child div */
    z-index: 5;
    background-color: #efefef;
}


/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ENET Information Bar
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
div.EnetInfoBar {
    font-size: 1.1em;
    font-weight: bold;
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: #f4a83d;
    border: 2 solid #000;
    height: 35px;
    overflow: auto;
    overflow-x: hidden;
}

    div.EnetInfoBar a.EnetInfoBarCloseLink, div.EnetInfoBar a.EnetInfoBarCloseLink:link, div.EnetInfoBar a.EnetInfoBarCloseLink:hover, div.EnetInfoBar a.EnetInfoBarCloseLink:active {
        text-decoration: none;
        color: #f4a83d;
    }

    div.EnetInfoBar span.EnetInfoBarCloseButton {
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        min-width: 30px;
        min-height: 30px;
        background-image: url(icnClose.png);
        background-repeat: no-repeat;
    }

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Enet Filter
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
div.EnetFilter {
    width: 100%;
}

div.EnetFilter-Fixed {
    width: 800px;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Enet Number Range Selector
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
div.EnetRangeSelector {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 100px;
    min-height: 13px;
    padding-top: 5px;
}

span.EnetUI-EnetRangeSliderLabel {
    color: #333;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Enet BreadCrumb
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
.Enet-Breadcrumb {
    font-size: 11px;
    padding: 7px 14px;
    margin: 0 0 18px;
    margin-bottom: 27px;
    list-style: none;
    /*  background-color: #fbfbfb;
    background-repeat: repeat-x;*/
    border-bottom: 1px solid #E5E5E5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    /*  background-image: linear-gradient(top, #ffffff, #f5f5f5);*/
}

    .Enet-Breadcrumb li {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        text-shadow: 0 1px 0 #ffffff;
        font-weight: bolder;
    }

    .Enet-Breadcrumb .divider {
        padding: 0 5px;
        color: #999999;
    }

    .Enet-Breadcrumb a {
        color: grey;
        text-decoration: none;
    }

    .Enet-Breadcrumb .active a {
        color: #333333;
    }

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Fillament Group's Date Range Picker
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
.ui-daterangepickercontain {
    position: absolute;
    z-index: 999;
}

    .ui-daterangepickercontain .ui-daterangepicker {
        float: left;
        padding: 5px !important;
        width: auto;
        display: inline;
        background-image: none !important;
        clear: left;
    }

.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
    float: left;
    padding: 0;
    margin: 0;
}

.ui-daterangepicker .ranges {
    width: auto;
    position: relative;
    padding: 5px 5px 40px 0;
    margin-left: 10px;
}

.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
    margin-left: 5px;
}

.ui-daterangepicker button.btnDone {
    margin: 0 5px 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    clear: both;
    cursor: pointer;
    font-size: 1.1em;
}

.ui-daterangepicker ul {
    width: 17.6em;
    background: none;
    border: 0;
}

.ui-daterangepicker li {
    list-style: none;
    padding: 1px;
    cursor: pointer;
    margin: 1px 0;
}

    .ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
        padding: 0;
    }

    .ui-daterangepicker li.preset_0 {
        margin-top: 1.5em !important;
    }

.ui-daterangepicker .ui-widget-content a {
    text-decoration: none !important;
}

.ui-daterangepicker li a {
    font-weight: normal;
    margin: .3em .5em;
    display: block;
}

.ui-daterangepicker li span {
    float: right;
    margin: .3em .2em;
}

.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
    display: block;
    margin: 0 0 .2em;
    font-size: 1em;
    padding: 0 4px 2px;
}

.ui-daterangepicker .ui-datepicker-inline {
    font-size: 1em;
}

.ui-daterangepicker-arrows {
    padding: 2px;
    width: 204px;
    position: relative;
}

    .ui-daterangepicker-arrows input.ui-rangepicker-input {
        width: 158px;
        margin: 0 2px 0 20px;
        padding: 2px;
        height: 1.1em;
    }

    .ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
        position: absolute;
        top: 2px;
        padding: 1px;
    }

    .ui-daterangepicker-arrows .ui-daterangepicker-prev {
        left: 2px;
    }

    .ui-daterangepicker-arrows .ui-daterangepicker-next {
        right: 2px;
    }

        .ui-daterangepicker-arrows .ui-daterangepicker-prev:hover, .ui-daterangepicker-arrows .ui-daterangepicker-next:hover, .ui-daterangepicker-arrows .ui-daterangepicker-prev:focus, .ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
            padding: 0;
        }


/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Fillament Group's Multi-Select
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
.ui-multiselect {
    padding: 2px 0 2px 4px;
    text-align: left;
}

    .ui-multiselect span.ui-icon {
        float: right;
    }

.ui-multiselect-single .ui-multiselect-checkboxes input {
    position: absolute !important;
    top: auto !important;
    left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
    padding: 5px !important;
}

.ui-multiselect-header {
    margin-bottom: 3px;
    padding: 3px 0 3px 4px;
}

    .ui-multiselect-header ul {
        font-size: 0.9em;
    }

        .ui-multiselect-header ul li {
            float: left;
            padding: 0 10px 0 0;
        }

    .ui-multiselect-header a {
        text-decoration: none;
    }

        .ui-multiselect-header a:hover {
            text-decoration: underline;
        }

    .ui-multiselect-header span.ui-icon {
        float: left;
    }

    .ui-multiselect-header li.ui-multiselect-close {
        float: right;
        text-align: right;
        padding-right: 0;
    }

.ui-multiselect-menu {
    display: none;
    padding: 3px;
    position: absolute;
    z-index: 10000;
}

.ui-multiselect-checkboxes {
    position: relative /* fixes bug in IE6/7 */;
    overflow-y: scroll;
}

    .ui-multiselect-checkboxes label {
        cursor: default;
        display: block;
        border: 1px solid transparent;
        padding: 3px 1px;
    }

        .ui-multiselect-checkboxes label input {
            position: relative;
            top: 1px;
        }

    .ui-multiselect-checkboxes li {
        clear: both;
        font-size: 0.9em;
        padding-right: 3px;
    }

        .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid;
        }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
                display: block;
                padding: 3px;
                margin: 1px 0;
                text-decoration: none;
            }

    /* remove label borders in IE6 because IE6 does not support transparency */
    * html .ui-multiselect-checkboxes label {
        border: none;
    }



/*
from:  http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html
background-image: -ms-linear-gradient(top, {TopColor} 0%, {BottomColor} 100%);
background-image: -moz-linear-gradient(top, {TopColor} 0%, {BottomColor} 100%);
background-image: -o-linear-gradient(top, {TopColor} 0%, {BottomColor} 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, {TopColor}), color-stop(1, {BottomColor}));
background-image: -webkit-linear-gradient(top, {TopColor} 0%, {BottomColor} 100%);
background-image: linear-gradient(top, {TopColor} 0%, {BottomColor} 100%);
*/

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
EnetGrid Style Sheet
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.EnetUI-ModalResize800 {
    max-height: 800px;
}

.EnetUI-Deemphasize {
    font-size: .7em;
}


.EJS-Grid-SortIcons {
    position: relative;
    display: none;
    top: -5px;
    float: right;
}

.EJS-Grid-SortableField:hover span.EJS-Grid-SortIcons {
    display: block;
}

.EnetGrid-NoHead thead, .EnetGrid-NoToolbar thead.gridheader, .EnetGrid-NoFilter thead.customfilters, .EnetGrid-NoPreDefinedFilters thead.predefinedheader, .EnetGrid-NoDataTotals thead.datatotals, .EnetGrid-NoRowHeader thead.rowheader, .EnetGrid-NoViewTotals tfoot.viewtotals {
    display: none;
}



div.EWF-UI-SidePanelContainer {
    float: left;
    width: 180px;
    text-align: right;
}

    div.EWF-UI-SidePanelContainer ul {
        list-style: none;
        margin: 0px;
        padding: 5px;
    }

    div.EWF-UI-SidePanelContainer li {
        text-align: left;
        height: 40px;
    }

        div.EWF-UI-SidePanelContainer li a {
            display: list-item;
            font-size: 14px;
            text-decoration: none;
            height: 100%;
            line-height: 15px;
            padding-left: 5px;
            border-right: 1px solid #CCCCCC;
        }

            div.EWF-UI-SidePanelContainer li a:hover {
                color: #7c9ec6;
                border-top: 1px solid #CCCCCC;
                border-bottom: 1px solid #CCCCCC;
                border-right: 0px solid #CCCCCC;
                border-left: 1px solid #CCCCCC;
            }

            div.EWF-UI-SidePanelContainer li a:active {
                color: #7c9ec6;
            }

            div.EWF-UI-SidePanelContainer li a.current, ul.EWF-UI-SidePanelContainer li.current:link, ul.EWF-UI-SidePanelContainer li.current:hover, ul.EWF-UI-SidePanelContainer li.current:active {
                color: #7c9ec6;
                border-top: 1px solid #CCCCCC;
                border-bottom: 1px solid #CCCCCC;
                border-right: 0px solid #CCCCCC;
                border-left: 1px solid #CCCCCC;
                background-color: #eaeef3;
            }

.stdPVTblLCell {
    background-color: #00a7e7;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    font-size: 12pt;
}

.stdPageHdr {
    color: DarkBlue;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana;
    text-align: left;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    font-size: 20pt;
}

.gridHeader {
    background-color: #C0C0C0;
    color: DarkBlue;
    font-size: 9pt;
    font-weight: bold;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
    border: solid thin Black;
}

.SearchHeader {
    color: DarkBlue;
    font-size: 9pt;
    font-weight: bold;
    font-family: Verdana;
}

.SearchKey {
    color: DarkBlue;
    font-size: 9pt;
    vertical-align: middle;
    text-align: right;
    font-family: Verdana;
}

.SearchValue {
    color: Black;
    font-size: 9pt;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    font-family: Verdana;
}

.SearchResultHeader {
    background-color: #CCFFCC;
    color: DarkBlue;
    font-size: 9pt;
    font-weight: bold;
    font-family: Verdana;
}

.SearchResultItem {
    background-color: #CCFFFF;
    color: Black;
    font-size: 8pt;
    font-family: Verdana;
    border: solid thin Black;
}

.SearchResultAltItem {
    background-color: #99CCFF;
    color: Black;
    font-size: 8pt;
    font-family: Verdana;
    border: solid thin Black;
}

.EWF_Tab_Default {
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

/*---------------------------------------------------------------------------------------------------------------------
Report Control CSS
---------------------------------------------------------------------------------------------------------------------*/
table.EnetReport {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

    table.EnetReport thead th {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
        *cursor: hand;
    }

    table.EnetReport tfoot th {
        padding: 3px 18px 3px 10px;
        border-top: 1px solid black;
        font-weight: bold;
    }

    table.EnetReport td {
        padding: 3px 10px;
    }

        table.EnetReport td.center,
        table.EnetReport td.EnetReports_empty {
            text-align: center;
        }

    table.EnetReport tr.odd {
        background-color: #E2E4FF;
    }

    table.EnetReport tr.even {
        background-color: white;
    }

    table.EnetReport tr.odd td.sorting_1 {
        background-color: #D3D6FF;
    }

    table.EnetReport tr.odd td.sorting_2 {
        background-color: #DADCFF;
    }

    table.EnetReport tr.odd td.sorting_3 {
        background-color: #E0E2FF;
    }

    table.EnetReport tr.even td.sorting_1 {
        background-color: #EAEBFF;
    }

    table.EnetReport tr.even td.sorting_2 {
        background-color: #F2F3FF;
    }

    table.EnetReport tr.even td.sorting_3 {
        background-color: #F9F9FF;
    }

/*
.table.EnetReport thead th
{
    background-color: rgb(242,242,242);
    background-image: -ms-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242,242,242)), to(rgb(232,232,232)));
    background-image: -webkit-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -o-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -moz-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    border: 1px rgb(220,220,220) solid !important;
}

.table.EnetReport tfoot th
{
    background-color: rgb(242,242,242);
    background-image: -ms-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242,242,242)), to(rgb(232,232,232)));
    background-image: -webkit-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -o-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    background-image: -moz-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
    border: none;
}

.table.EnetReport tfoot td
{
    border: none;
}


.table.EnetReport 
{
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    border: 2px solid #FFF;
    margin-top: 20px;
}
*/
.black-text {
    color: Black;
}

.enetReportFilterBox {
    background: rgb(242,242,242);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    padding: 10px 20px;
    border: 2px solid rgb(242,242,242);
    margin: 20px;
}


/*
.enetReportToolBox
{
    background-color: rgb(242,242,242);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    padding: 5px 20px;
    border: 2px solid rgb(242,242,242);
    Removed so that the buttons are aligned all the way to the right
    margin: 0px 20px;
}
*/
/*---------------------------------------------------------------------------------------------------------------------
DashBoard Control CSS
---------------------------------------------------------------------------------------------------------------------*/

.EWFMetric-container {
    display: table;
    width: 100%;
    margin-left: .75em;
}

.EWFMetric {
    position: relative;
    margin-right: 1em;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #888;
    display: table-cell;
    min-width: 250px;
    color: #fff;
    background: #DFDFDF;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    line-height: 18px;
}

    .EWFMetric *,
    .EWFMetric *:before,
    .EWFMetric *:after {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

.EWFMetric-content {
    height: 70px;
    padding-top: 25px;
    margin-right: 1em;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #888;
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

    .EWFMetric-content span {
        display: block;
        margin-bottom: .4em;
        font-size: 32px;
        font-weight: 600;
        font-style: normal;
        color: #4A515B;
    }

.EWFMetric-Details:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #666666 #666666;
    background: #666666;
    display: block;
    width: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.EWFMetric-Details:hover {
    background: #C5C5C5;
    cursor: pointer;
    cursor: hand;
}

.EWFMetric a {
    text-decoration: none;
}

.EWFMetric-content.red, .EWFMetric-content.red span {
    color: #DA4646;
}

@media (max-width: 2000px) {

    .EWFMetric-container {
        float: left;
        display: block;
        margin-bottom: 1em;
    }

    .EWFMetric {
        float: left;
        display: block;
        width: 18%;
        margin-bottom: 1em;
    }
}

@media (max-width: 1024px) {

    .EWFMetric-container {
        float: left;
        display: block;
        margin-bottom: 1em;
    }

    .EWFMetric {
        max-width: 237px;
        min-width: 150px;
    }
}

@media (max-width: 767px) {

    .EWFMetric-container {
        float: left;
        display: block;
        margin-bottom: 1em;
    }

    .EWFMetric {
        float: left;
        display: block;
        width: 49%;
        margin-bottom: 1em;
    }

    .EWFMetric-container .EWFMetric:last-child {
        margin: 0 1em;
    }
}

/*-----------------------------------------------------------------------------------------------------
Mobile Grid Layout Classes
-----------------------------------------------------------------------------------------------------*/

.EWF-MGrid-ID {
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}


.EWF-MGrid-Detail1 {
    font-size: 1em;
}

.EWF-MGrid-Detail2 {
    font-size: 1em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.EWF-MGrid-Detail3 {
    font-size: 0.9em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.EWF-MGrid-Detail4 {
    font-size: 0.7em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.EWF-MGrid-Data1 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.EWF-MGrid-Data2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

.EWF-MGrid-Data3 {
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

.EWF-MGrid-DataDetail1 {
    font-size: 1em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.EWF-MGrid-DataDetail2 {
    font-size: 1em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


.EWF-MGrid-Actions {
    padding-top: 10px;
}

.EWF-MGrid-CenterAlign {
    text-align: center;
}

.EWF-MGrid-RightAlign {
    text-align: right;
}

.EWF-MGrid-LeftAlign {
    text-align: left;
}


.table tbody tr.success td {
    background-color: #dff0d8;
}

.table tbody tr.error td {
    background-color: #f2dede;
}

.table tbody tr.warning td {
    background-color: #fcf8e3;
}

.table tbody tr.info td {
    background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
    background-color: #d0e9c6;
}

.table.table-striped.table-hover tr.error td {
    background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
    background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
    background-color: #c4e3f3;
}

.EnetUI-Hidden {
    display: none;
}

.EnetUI-Bold {
    font-weight: bold;
}

.EnetUI-UnBold {
    font-weight: normal;
}

.EnetUI-Bold-XX {
    font-weight: bold;
    font-size: large;
}

/*==========================
Pop up modal in daily entry footer
==========================*/
.vspan75 {
    width: 90%;
    height: 275px;
    overflow: auto;
}

.ewfModalTableFooter {
    padding-bottom: 10px;
    padding-left: 25px;
}

.ewfModalSummaryPanel {
    float: right;
    text-align: center;
    padding-right: 20px;
    font-size: 1.2em;
}

    .ewfModalSummaryPanel span {
        display: block;
        font-size: 1.75em;
    }

.ewfColor {
    background-color: rgb(242,242,242);
}



/*==========================
form panels for promo add
==========================*/
.formPanel {
    position: relative;
    height: 360px;
    padding: 5px 5px 5px 5px;
    margin-right: -20px;
}

.bottomBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px 5px 5px 5px
}

.formPanel.unFocused {
    background: #E6E6E6;
}

.formPanel td {
    border: none;
}

.formPanel table {
    width: 340px
}

.EnetUI-Border-Right {
    border-right: 1px solid #E6E6E6;
}


.well-white {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.ENETUI-subMenuBar {
    display: none;
}

body .EWF-Modal-Large {
    width: 1000px;
    height: 535px;
    margin-left: -500px; /* - width/2 */
    margin-top: -275px; /* - width/2 */
}

.EWF-Modal-PlaceHolder-Large {
    height: 400px;
}

body .EWF-Modal-Medium {
    width: 750px;
    height: 535px;
    margin-left: -375px; /* - width/2 */
    margin-top: -275px; /* - width/2 */
}

.EWF-Modal-PlaceHolder-Medium {
    height: 400px;
}


.EWF-ImgChange-Cell {
    padding: 0px !important;
}

.EWF-Remove-BtnGrpMargin {
    margin-left: -5px !important;
}


.spanNoMargin {
    margin: 0;
}

.EnetUI-Calendar {
    font: small/normal Arial,sans-serif;
    background: url(../../../200x200-gray.png) no-repeat 0 0;
    height: 200px;
    position: relative;
    width: 200px;
}

.EnetUI-Calendar-Month {
    font-weight: bold;
    color: #AFAFAF;
    font-size: 20px;
    top: 130px;
}

.EnetUI-Calendar-Date {
    font-weight: bold;
    color: #222222;
    font-size: 400%;
    top: 70px;
}

.EnetUI-Calendar-Title {
    color: #fff;
    font-size: 22px;
    top: 15px;
}

.EnetUI-Calendar-SubTitle {
    color: #C2B8B8;
    font-size: 12px;
    font-style: italic;
    top: 50px;
}

.EnetUI-Calendar-Content {
    font-weight: bold;
    top: 163px;
}

.EnetUI-Calendar-Month, .EnetUI-Calendar-Date, .EnetUI-Calendar-Title, .EnetUI-Calendar-Content, .EnetUI-Calendar-SubTitle {
    position: absolute;
    text-align: center;
    width: 210px;
}

.dashboardAddNew {
    text-align: left;
}

.EnetUI-CalendarSmall {
    font: small/normal Arial,sans-serif;
    background: url(box_small.png) no-repeat 0 0;
    height: 172px;
    position: relative;
    width: 158px;
}

.EnetUI-CalendarSmall-Title {
    color: #fff;
    font-size: 18px;
    top: 22px;
}

.EnetUI-CalendarSmall-Date {
    color: #222222;
    font-size: 400%;
    top: 70px;
}

.EnetUI-CalendarSmall-Month {
    color: #AFAFAF;
    font-size: 18px;
    top: 135px;
}

.EnetUI-CalendarSmall-Title, .EnetUI-CalendarSmall-Date, .EnetUI-CalendarSmall-Month {
    position: absolute;
    text-align: center;
    width: 158px;
}



.EnetUI-DBIcon {
    font: small/normal Arial,sans-serif;
    height: 172px;
    position: relative;
    width: 158px;
}

.EnetUI-DBIcon-Title {
    color: #fff;
    font-size: 18px;
    top: 22px;
}

.EnetUI-DBIcon-HelperText {
    color: #fff;
    font-size: 10px;
    top: 100px;
}

.EnetUI-DBIcon-HelperValue {
    color: #fff;
    /*font-size: 400%;*/
    top: 115px;
}

.EnetUI-DBIcon-Title, .EnetUI-DBIcon-HelperValue, .EnetUI-DBIcon-HelperText {
    position: absolute;
    text-align: center;
    width: 158px;
}



.EnetUI-FontSize {
    font-size: medium;
}

.EnetUI-FontSize-Small {
    font-size: small;
}

.EnetUI-FontSize-Small-X {
    font-size: x-small;
}

.EnetUI-FontSize-Small-XX {
    font-size: xx-small;
}

.EnetUI-FontSize-Large {
    font-size: larger;
}

.EnetUI-FontSize-Large-X {
    font-size: x-large;
}

.EnetUI-FontSize-Large-XX {
    font-size: xx-large;
}

/*.EnetUI-RightAlign{text-align:right!important;}*/
.EnetUI-LeftAlign {
    text-align: left !important;
}

.EnetUI-CenterAlign {
    text-align: center !important;
}

.EnetUI-RightAlignReport {
    text-align: right !important;
}

/*
.nav li.dropdown ul.dropdown-menu li:HOVER ul.dropdown-menu li:HOVER.dropdown > ul.dropdown-menu,
.nav li.dropdown ul.dropdown-menu li:HOVER ul.dropdown-menu {
    display:block;
    position:absolute;
    left:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav li.dropdown ul.dropdown-menu li:HOVER ul.dropdown-menu li.dropdown > ul.dropdown-menu, 
.nav li.dropdown ul.dropdown-menu ul.dropdown-menu {
    display: none;
    float:right;
    position: relative;
    top: auto;
    margin-top: -30px;
}
*/

.ewf-secondarymenu-show {
    display: block;
    position: absolute;
    left: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: -30px;
}

.ewf-secondarymenu-hide {
    display: none;
    float: right;
    position: relative;
    top: auto;
    margin-top: -30px;
}

/*
.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
    content: '';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
  
    border-right-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 9px;
    left: -14px;
}
 /* border-right:7px solid #CCC;
.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right:6px solid white;
    position: absolute;
    top: 10px;
    left: -12px;
}*/

/* Subnav */
.subnav {
    width: 100%;
    height: 39px;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    /*

ul.EnetSubMenu li.dropdown:hover ul.dropdown-menu.EnetSubMenufirst{
    display: block;    
}
*/
    .subnav li.dropdown a {
        color: Black;
    }

        .subnav li.dropdown a:hover {
            color: White;
        }

    /*
a.menu:after, .dropdown-toggle:after {
    content: none;
}*/

    .subnav .dropdown-menu {
        margin-top: 0px;
    }


.navbar .brandLogo {
    padding: 2px;
}


/*
 * Table styles
 */
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    /*
   * Header and footer styles
   */
    /*
   * Body styles
   */
}

    table.dataTable thead th,
    table.dataTable tfoot th {
        font-weight: bold;
    }

    table.dataTable thead th,
    table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #111111;
    }

        table.dataTable thead th:active,
        table.dataTable thead td:active {
            outline: none;
        }

    table.dataTable tfoot th,
    table.dataTable tfoot td {
        padding: 10px 18px 6px 18px;
        border-top: 1px solid #111111;
    }

    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting {
        cursor: pointer;
        *cursor: hand;
    }

    table.dataTable thead .sorting {
        background: url("sort_both.png") no-repeat center right;
    }

    table.dataTable thead .sorting_asc {
        background: url("sort_asc.png") no-repeat center right;
    }

    table.dataTable thead .sorting_desc {
        background: url("sort_desc.png") no-repeat center right;
    }

    table.dataTable thead .sorting_asc_disabled {
        background: url("sort_asc_disabled.png") no-repeat center right;
    }

    table.dataTable thead .sorting_desc_disabled {
        background: url("sort_desc_disabled.png") no-repeat center right;
    }

    table.dataTable tbody tr {
        background-color: white;
    }

        table.dataTable tbody tr.selected {
            background-color: #b0bed9;
        }

    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 8px 10px;
    }

    table.dataTable th.center,
    table.dataTable td.center,
    table.dataTable td.dataTables_empty {
        text-align: center;
    }

    table.dataTable th.right,
    table.dataTable td.right {
        text-align: right;
    }

    table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
        border-top: 1px solid #dddddd;
    }

    table.dataTable.row-border tbody tr:first-child th,
    table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
    table.dataTable.display tbody tr:first-child td {
        border-top: none;
    }

    table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
    }

    table.dataTable.cell-border tbody tr th:first-child,
    table.dataTable.cell-border tbody tr td:first-child {
        border-left: 1px solid #dddddd;
    }

    table.dataTable.cell-border tbody tr:first-child th,
    table.dataTable.cell-border tbody tr:first-child td {
        border-top: none;
    }

    table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
        background-color: #f9f9f9;
    }

        table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
            background-color: #abb9d3;
        }

        table.dataTable.hover tbody tr:hover,
        table.dataTable.hover tbody tr.odd:hover,
        table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
        table.dataTable.display tbody tr.odd:hover,
        table.dataTable.display tbody tr.even:hover {
            background-color: whitesmoke;
        }

            table.dataTable.hover tbody tr:hover.selected,
            table.dataTable.hover tbody tr.odd:hover.selected,
            table.dataTable.hover tbody tr.even:hover.selected, table.dataTable.display tbody tr:hover.selected,
            table.dataTable.display tbody tr.odd:hover.selected,
            table.dataTable.display tbody tr.even:hover.selected {
                background-color: #a9b7d1;
            }

    table.dataTable.order-column tbody tr > .sorting_1,
    table.dataTable.order-column tbody tr > .sorting_2,
    table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
    table.dataTable.display tbody tr > .sorting_2,
    table.dataTable.display tbody tr > .sorting_3 {
        background-color: #f9f9f9;
    }

    table.dataTable.order-column tbody tr.selected > .sorting_1,
    table.dataTable.order-column tbody tr.selected > .sorting_2,
    table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
    table.dataTable.display tbody tr.selected > .sorting_2,
    table.dataTable.display tbody tr.selected > .sorting_3 {
        background-color: #acbad4;
    }

    table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
        background-color: #f1f1f1;
    }

    table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
        background-color: #f3f3f3;
    }

    table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
        background-color: whitesmoke;
    }

    table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
        background-color: #a6b3cd;
    }

    table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
        background-color: #a7b5ce;
    }

    table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
        background-color: #a9b6d0;
    }

    table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
        background-color: #f9f9f9;
    }

    table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
        background-color: #fbfbfb;
    }

    table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
        background-color: #fdfdfd;
    }

    table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
        background-color: #acbad4;
    }

    table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
        background-color: #adbbd6;
    }

    table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
        background-color: #afbdd8;
    }

    table.dataTable.display tbody tr:hover > .sorting_1,
    table.dataTable.display tbody tr.odd:hover > .sorting_1,
    table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
    table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
    table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
        background-color: #eaeaea;
    }

    table.dataTable.display tbody tr:hover > .sorting_2,
    table.dataTable.display tbody tr.odd:hover > .sorting_2,
    table.dataTable.display tbody tr.even:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
    table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2,
    table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2 {
        background-color: #ebebeb;
    }

    table.dataTable.display tbody tr:hover > .sorting_3,
    table.dataTable.display tbody tr.odd:hover > .sorting_3,
    table.dataTable.display tbody tr.even:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3,
    table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3,
    table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3 {
        background-color: #eeeeee;
    }

    table.dataTable.display tbody tr:hover.selected > .sorting_1,
    table.dataTable.display tbody tr.odd:hover.selected > .sorting_1,
    table.dataTable.display tbody tr.even:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
    table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_1,
    table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_1 {
        background-color: #a1aec7;
    }

    table.dataTable.display tbody tr:hover.selected > .sorting_2,
    table.dataTable.display tbody tr.odd:hover.selected > .sorting_2,
    table.dataTable.display tbody tr.even:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
    table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_2,
    table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_2 {
        background-color: #a2afc8;
    }

    table.dataTable.display tbody tr:hover.selected > .sorting_3,
    table.dataTable.display tbody tr.odd:hover.selected > .sorting_3,
    table.dataTable.display tbody tr.even:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3,
    table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_3,
    table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_3 {
        background-color: #a4b2cb;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #111111;
    }

    table.dataTable,
    table.dataTable th,
    table.dataTable td {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

/*
 * Control feature layout
 */
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}

    .dataTables_wrapper .dataTables_length {
        float: left;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
    }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0.5em;
        }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333333 !important;
            border: 1px solid transparent;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                color: #333333 !important;
                border: 1px solid #cacaca;
                background-color: white;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, white 0%, gainsboro 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, white 0%, gainsboro 100%);
                /* W3C */
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                cursor: default;
                color: #666 !important;
                border: 1px solid transparent;
                background: transparent;
                box-shadow: none;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                color: white !important;
                border: 1px solid #111111;
                background-color: #585858;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, #585858 0%, #111111 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, #585858 0%, #111111 100%);
                /* W3C */
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:active {
                outline: none;
                background-color: #2b2b2b;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
                /* W3C */
                box-shadow: inset 0 0 3px #111;
            }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 40px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background-color: white;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* IE10+ */
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* W3C */
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        color: #333333;
    }

    .dataTables_wrapper .dataTables_scroll {
        clear: both;
    }

        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
            *margin-top: -1px;
            -webkit-overflow-scrolling: touch;
        }

            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
                height: 0;
                overflow: hidden;
                margin: 0 !important;
                padding: 0 !important;
            }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #111111;
    }

    .dataTables_wrapper.no-footer div.dataTables_scrollHead table,
    .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
        border-bottom: none;
    }

    .dataTables_wrapper:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    }
}

/*
 * File:        TableTools.css
 * Description: Styles for TableTools 2
 * Author:      Allan Jardine (www.sprymedia.co.uk)
 * Language:    Javascript
 * License:     GPL v2 / 3 point BSD
 * Project:     DataTables
 * 
 * Copyright 2009-2012 Allan Jardine, all rights reserved.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * CSS name space:
 *   DTTT                  DataTables TableTools
 *
 * Style sheet provides:
 *   CONTAINER             TableTools container element and styles applying to all components
 *   BUTTON_STYLES         Action specific button styles
 *   SELECTING             Row selection styles
 *   COLLECTIONS           Drop down list (collection) styles
 *   PRINTING              Print display styles
 */


/*
 * CONTAINER
 * TableTools container element and styles applying to all components
 */
div.DTTT_container {
    position: relative;
    float: right;
    margin-bottom: 1em;
}

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
    position: relative;
    float: left;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.88em;
    color: black !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    /* Generated by http://www.colorzilla.com/gradient-editor/ */
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}


/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button {
    height: 30px;
    padding: 3px 8px;
}

.DTTT_button embed {
    outline: none;
}

button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
    border: 1px solid #666;
    text-decoration: none !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    background: #f3f3f3; /* Old browsers */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
    background: -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

button.DTTT_disabled,
div.DTTT_disabled,
a.DTTT_disabled {
    color: #999;
    border: 1px solid #d0d0d0;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}



/*
 * BUTTON_STYLES
 * Action specific button styles
 * If you want images - comment this back in

button.DTTT_button_csv,
button.DTTT_button_xls,
button.DTTT_button_copy,
button.DTTT_button_pdf,
button.DTTT_button_print {
	padding-right: 0px;
}

button.DTTT_button_csv span,
button.DTTT_button_xls span,
button.DTTT_button_copy span,
button.DTTT_button_pdf span,
button.DTTT_button_print span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-right: 30px;
}


button.DTTT_button_csv span { background: url(../images/csv.png) no-repeat bottom right; }
button.DTTT_button_csv:hover span { background: url(../images/csv_hover.png) no-repeat center right; }

button.DTTT_button_xls span { background: url(../images/xls.png) no-repeat center right; }
button.DTTT_button_xls:hover span { background: #f0f0f0 url(../images/xls_hover.png) no-repeat center right; }

button.DTTT_button_copy span { background: url(../images/copy.png) no-repeat center right; }
button.DTTT_button_copy:hover span { background: #f0f0f0 url(../images/copy_hover.png) no-repeat center right; }

button.DTTT_button_pdf span { background: url(../images/pdf.png) no-repeat center right; }
button.DTTT_button_pdf:hover span { background: #f0f0f0 url(../images/pdf_hover.png) no-repeat center right; }

button.DTTT_button_print span { background: url(../images/print.png) no-repeat center right; }
button.DTTT_button_print:hover span { background: #f0f0f0 url(../images/print_hover.png) no-repeat center right; }

 */

button.DTTT_button_collection span {
    padding-right: 17px;
    background: url(collection.png) no-repeat center right;
}

button.DTTT_button_collection:hover span {
    padding-right: 17px;
    background: #f0f0f0 url(collection_hover.png) no-repeat center right;
}


/*
 * SELECTING
 * Row selection styles
 */
table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}

table.dataTable tr.DTTT_selected.odd {
    background-color: #9FAFD1;
}

    table.dataTable tr.DTTT_selected.odd td.sorting_1 {
        background-color: #9FAFD1;
    }

    table.dataTable tr.DTTT_selected.odd td.sorting_2 {
        background-color: #9FAFD1;
    }

    table.dataTable tr.DTTT_selected.odd td.sorting_3 {
        background-color: #9FAFD1;
    }


table.dataTable tr.DTTT_selected.even {
    background-color: #B0BED9;
}

    table.dataTable tr.DTTT_selected.even td.sorting_1 {
        background-color: #B0BED9;
    }

    table.dataTable tr.DTTT_selected.even td.sorting_2 {
        background-color: #B0BED9;
    }

    table.dataTable tr.DTTT_selected.even td.sorting_3 {
        background-color: #B0BED9;
    }


/*
 * COLLECTIONS
 * Drop down list (collection) styles
 */

div.DTTT_collection {
    width: 150px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #ccc;
    border: 1px solid rgba( 0, 0, 0, 0.4 );
    background-color: #f3f3f3;
    background-color: rgba( 255, 255, 255, 0.3 );
    overflow: hidden;
    z-index: 2002;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.DTTT_collection_background {
    background: transparent url(background.png) repeat top left;
    z-index: 2001;
}

div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    float: none;
    margin-bottom: 4px;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
}


/*
 * PRINTING
 * Print display styles
 */

.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    opacity: 0.95;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

    .DTTT_print_info h6 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        margin: 1em;
    }

    .DTTT_print_info p {
        font-size: 14px;
        line-height: 20px;
    }

table.dataTable tfoot th {
    padding: 3px 10px 3px 10px !important;
}

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 500px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 14px;
    -webkit-border-bottom-left-radius: 14px;
    border-bottom-left-radius: 14px;
    -moz-border-radius-bottomright: 14px;
    -webkit-border-bottom-right-radius: 14px;
    border-bottom-right-radius: 14px;
    -moz-border-radius-topright: 14px;
    -webkit-border-top-right-radius: 14px;
    border-top-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -webkit-border-top-left-radius: 14px;
    border-top-left-radius: 14px;
}

    .CSSTableGenerator table {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .CSSTableGenerator tr:last-child td:last-child {
        -moz-border-radius-bottomright: 14px;
        -webkit-border-bottom-right-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    .CSSTableGenerator table tr:first-child td:first-child {
        -moz-border-radius-topleft: 14px;
        -webkit-border-top-left-radius: 14px;
        border-top-left-radius: 14px;
    }

    .CSSTableGenerator table tr:first-child td:last-child {
        -moz-border-radius-topright: 14px;
        -webkit-border-top-right-radius: 14px;
        border-top-right-radius: 14px;
    }

    .CSSTableGenerator tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 14px;
        -webkit-border-bottom-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    .CSSTableGenerator tr:hover td {
        background-color: #ffffff;
    }

    .CSSTableGenerator td {
        vertical-align: middle;
        background: -o-linear-gradient(bottom, #e5e5e5 5%, #ffffff 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #ffffff) );
        background: -moz-linear-gradient( center top, #e5e5e5 5%, #ffffff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#ffffff");
        background: -o-linear-gradient(top,#e5e5e5,ffffff);
        background-color: #e5e5e5;
        border: 1px solid #000000;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 10px;
        font-family: Arial;
        font-weight: normal;
        color: #000000;
    }

    .CSSTableGenerator tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }

    .CSSTableGenerator tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }

    .CSSTableGenerator tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }

    .CSSTableGenerator tr:first-child td {
        background: -o-linear-gradient(bottom, #4c4c4c 5%, #4c4c4c 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #4c4c4c) );
        background: -moz-linear-gradient( center top, #4c4c4c 5%, #4c4c4c 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#4c4c4c");
        background: -o-linear-gradient(top,#4c4c4c,4c4c4c);
        background-color: #4c4c4c;
        border: 0px solid #000000;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 14px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
    }

    .CSSTableGenerator tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #4c4c4c 5%, #4c4c4c 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #4c4c4c) );
        background: -moz-linear-gradient( center top, #4c4c4c 5%, #4c4c4c 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#4c4c4c");
        background: -o-linear-gradient(top,#4c4c4c,4c4c4c);
        background-color: #4c4c4c;
    }

    .CSSTableGenerator tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }

    .CSSTableGenerator tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }

.span50 {
    width: 50px !important;
}

.span75 {
    width: 75px !important;
}
/*
    .EWF-RES-Phone-Plus
    , .EWF-RES-Tablet-Plus
    ,.EWF-RES-Desktop-Plus
    ,.EWF-RES-HiRes-Plus*/

.EWF-RES-Phone-block-Plus, .EWF-RES-Tablet-block-Plus, .EWF-RES-Desktop-block-Plus, .EWF-RES-HiRes-block-Plus {
    display: block !important;
}

.EWF-RES-Phone-inline-Plus, .EWF-RES-Tablet-inline-Plus, .EWF-RES-Desktop-inline-Plus, .EWF-RES-HiRes-inline-Plus {
    display: inline !important;
}

.EWF-RES-Phone-inline-block-Plus, .EWF-RES-Tablet-inline-block-Plus, .EWF-RES-Desktop-inline-block-Plus, .EWF-RES-HiRes-inline-block-Plus {
    display: inline-block !important;
}

table.EWF-RES-Phone-Plus, table.EWF-RES-Tablet-Plus, table.EWF-RES-Desktop-Plus, table.EWF-RES-HiRes-Plus {
    display: table !important;
}

tr.EWF-RES-Phone-Plus, tr.EWF-RES-Tablet-Plus, tr.EWF-RES-Desktop-Plus, tr.EWF-RES-HiRes-Plus {
    display: table-row !important;
}

th.EWF-RES-Phone-Plus, th.EWF-RES-Tablet-Plus, th.EWF-RES-Desktop-Plus, th.EWF-RES-HiRes-Plus {
    display: table-cell !important;
}

td.EWF-RES-Phone-Plus, td.EWF-RES-Tablet-Plus, td.EWF-RES-Desktop-Plus, td.EWF-RES-HiRes-Plus {
    display: table-cell !important;
}


@media (max-width: 767px) {
    .EWF-RES-Tablet-Plus, .EWF-RES-Desktop-Plus, .EWF-RES-HiRes-Plus, .EWF-RES-Tablet-block-Plus, .EWF-RES-Desktop-block-Plus, .EWF-RES-HiRes-block-Plus, .EWF-RES-Tablet-inline-Plus, .EWF-RES-Desktop-inline-Plus, .EWF-RES-HiRes-inline-Plus, .EWF-RES-Tablet-inline-block-Plus, .EWF-RES-Desktop-inline-block-Plus, .EWF-RES-HiRes-inline-block-Plus, table.EWF-RES-Tablet-Plus, table.EWF-RES-Desktop-Plus, table.EWF-RES-HiRes-Plus, tr.EWF-RES-Tablet-Plus, tr.EWF-RES-Desktop-Plus, tr.EWF-RES-HiRes-Plus, th.EWF-RES-Tablet-Plus, th.EWF-RES-Desktop-Plus, th.EWF-RES-HiRes-Plus, td.EWF-RES-Tablet-Plus, td.EWF-RES-Desktop-Plus, td.EWF-RES-HiRes-Plus {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .EWF-RES-Desktop-Plus, .EWF-RES-HiRes-Plus, .EWF-RES-Desktop-block-Plus, .EWF-RES-HiRes-block-Plus, .EWF-RES-Desktop-inline-Plus, .EWF-RES-HiRes-inline-Plus, .EWF-RES-Desktop-inline-block-Plus, .EWF-RES-HiRes-inline-block-Plus, table.EWF-RES-Desktop-Plus, table.EWF-RES-HiRes-Plus, tr.EWF-RES-Desktop-Plus, tr.EWF-RES-HiRes-Plus, th.EWF-RES-Desktop-Plus, th.EWF-RES-HiRes-Plus, td.EWF-RES-Desktop-Plus, td.EWF-RES-HiRes-Plus {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .EWF-RES-HiRes-Plus, .EWF-RES-HiRes-block-Plus, .EWF-RES-HiRes-inline-Plus, .EWF-RES-HiRes-inline-block-Plus, table.EWF-RES-HiRes-Plus, tr.EWF-RES-HiRes-Plus, th.EWF-RES-HiRes-Plus, td.EWF-RES-HiRes-Plus {
        display: none !important;
    }
}

@media (min-width: 1201px) {
}

.EWF-RES-Phone-Toggle, .EWF-RES-Tablet-Toggle, .EWF-RES-Desktop-Toggle, .EWF-RES-HiRes-Toggle {
    display: none !important;
}

@media (max-width: 768px) {

    .OF-full-wide-mob {
        width: 100%;
    }

    .EWF-RES-Tablet-Toggle {
        display: block !important;
    }

    .EWF-RES-Tablet-block-Toggle {
        display: block !important;
    }

    .EWF-RES-Tablet-inline-Toggle {
        display: inline !important;
    }

    .EWF-RES-Tablet-inline-block-Toggle {
        display: inline-block !important;
    }

    table.EWF-RES-Tablet-Toggle {
        display: table !important;
    }

    tr.EWF-RES-Tablet-Toggle {
        display: table-row !important;
    }

    th.EWF-RES-Tablet-Toggle {
        display: table-cell !important;
    }

    td.EWF-RES-Tablet-Toggle {
        display: table-cell !important;
    }
}

@media (max-width: 1023px) {
    .EWF-RES-Desktop-Toggle {
        display: block !important;
    }

    .EWF-RES-Desktop-block-Toggle {
        display: block !important;
    }

    .EWF-RES-Desktop-inline-Toggle {
        display: inline !important;
    }

    .EWF-RES-Desktop-inline-block-Toggle {
        display: inline-block !important;
    }

    table.EWF-RES-Desktop-Toggle {
        display: table !important;
    }

    tr.EWF-RES-Desktop-Toggle {
        display: table-row !important;
    }

    th.EWF-RES-Desktop-Toggle {
        display: table-cell !important;
    }

    td.EWF-RES-Desktop-Toggle {
        display: table-cell !important;
    }
}

@media (max-width: 1199px) {
    .EWF-RES-HiRes-Toggle {
        display: block !important;
    }

    .EWF-RES-HiRes-block-Toggle {
        display: block !important;
    }

    .EWF-RES-HiRes-inline-Toggle {
        display: inline !important;
    }

    .EWF-RES-HiRes-inline-block-Toggle {
        display: inline-block !important;
    }

    table.EWF-RES-HiRes-Toggle {
        display: table !important;
    }

    tr.EWF-RES-HiRes-Toggle {
        display: table-row !important;
    }

    th.EWF-RES-HiRes-Toggle {
        display: table-cell !important;
    }

    td.EWF-RES-HiRes-Toggle {
        display: table-cell !important;
    }
}



@media only screen and (max-width: 800px) {

    .OF-table-row-spaced {
        border-bottom: 2px solid #ccc;
        border-top: 13px solid #F2F4F8;
    }

    .OF-table-row-truncate {
        overflow: initial;
        white-space: initial;
        max-width: initial;
        text-overflow: initial;
    }

    /* Force table to not be like tables anymore */
    .mobileTable table, .mobileTable thead, .mobileTable tbody, .mobileTable th, .mobileTable td, .mobileTable tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .mobileTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .mobileTable tr {
        /*border: 1px solid #ccc;*/
    }

    /*
            .mobileTable table
            {
                width:75%;
            }*/

    .mobileTable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative; /*padding-left: 50%; */
        white-space: normal;
        text-align: left;
        color: #444;
    }

        .mobileTable td:before {
            /* Now like a table header */
            /* position: absolute;  Top/left values mimic padding 
                top: 6px;
                left: 6px;*/
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: normal;
            color: #aaa;
            display: block;
        }

        /*
	Label the data
	*/
        .mobileTable td:before {
            content: attr(data-title);
        }
}

/*Fix for the report filter button to be
aligned properly with the other filters*/

@media (min-width: 768px) {
    .form-inline .EWF-form-group {
        vertical-align: bottom;
    }





    /*Fix for the table to have a horizontal 
scrollbar even on a big screen when the table overflows*/

    .EWF-table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
        -webkit-overflow-scrolling: touch;
    }


    .EnetUI-Glyphicon-Medium {
        font-size: 18px;
    }


    .EnetUI-Glyphicon-Grey {
        color: #666;
    }


    .EnetUI-PagingDropDown {
        display: inline;
        width: auto;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .EnetUI-MaxWidth-25 {
        max-width: 25px;
    }

    .EnetUI-MaxWidth-50 {
        max-width: 50px;
    }

    .EnetUI-MaxWidth-75 {
        max-width: 75px;
    }

    .EnetUI-MaxWidth-100 {
        max-width: 100px;
    }

    .EnetUI-MaxWidth-125 {
        max-width: 125px;
    }

    .EnetUI-MaxWidth-150 {
        max-width: 150px;
    }

    .EnetUI-MaxWidth-175 {
        max-width: 175px;
    }

    .EnetUI-MaxWidth-200 {
        max-width: 200px;
    }

    .EnetUI-MaxWidth-225 {
        max-width: 225px;
    }


    .EnetUI-MaxWidth-250 {
        max-width: 250px;
    }

    .EnetUI-MaxWidth-250 {
        max-width: 250px;
    }

    .EnetUI-MaxWidth-275 {
        max-width: 275px;
    }

    .EnetUI-MaxWidth-300 {
        max-width: 300px;
    }

    .EnetUI-MaxWidth-325 {
        max-width: 300px;
    }


    .EnetUI-MaxWidth-350 {
        max-width: 350px;
    }

    .EnetUI-MaxWidth-375 {
        max-width: 375px;
    }

    .EnetUI-MaxWidth-400 {
        max-width: 400px;
    }

    .EnetUI-MaxWidth-425 {
        max-width: 425px;
    }

    .EnetUI-MaxWidth-450 {
        max-width: 450px;
    }

    .EnetUI-MaxWidth-475 {
        max-width: 475px;
    }

    .EnetUI-MaxWidth-500 {
        max-width: 500px;
    }

    .EnetUI-MaxWidth-525 {
        max-width: 525px;
    }


    .EnetUI-MaxWidth-550 {
        max-width: 550px;
    }

    .EnetUI-MaxWidth-575 {
        max-width: 575px;
    }

    .EnetUI-MaxWidth-600 {
        max-width: 600px;
    }

    .EnetUI-MaxWidth-625 {
        max-width: 625px;
    }

    .EnetUI-MaxWidth-650 {
        max-width: 650px;
    }

    .EnetUI-MaxWidth-675 {
        max-width: 675px;
    }


    .EnetUI-MaxWidth-700 {
        max-width: 700px;
    }

    .EnetUI-MaxWidth-725 {
        max-width: 725px;
    }

    .EnetUI-MaxWidth-750 {
        max-width: 750px;
    }

    .EnetUI-MaxWidth-775 {
        max-width: 775px;
    }


    .EnetUI-MaxWidth-800 {
        max-width: 800px;
    }

    .EnetUI-MaxWidth-825 {
        max-width: 825px;
    }

    .EnetUI-MaxWidth-850 {
        max-width: 850px;
    }

    .EnetUI-MaxWidth-875 {
        max-width: 875px;
    }

    .EnetUI-MaxWidth-900 {
        max-width: 900px;
    }

    .EnetUI-MaxWidth-925 {
        max-width: 925px;
    }

    .EnetUI-MaxWidth-950 {
        max-width: 950px;
    }

    .EnetUI-MaxWidth-975 {
        max-width: 975px;
    }

    .EnetUI-MaxWidth-1000 {
        max-width: 1000px;
    }




    .EnetUI-MinWidth-25 {
        min-width: 25px;
    }

    .EnetUI-MinWidth-50 {
        min-width: 50px;
    }

    .EnetUI-MinWidth-75 {
        min-width: 75px;
    }

    .EnetUI-MinWidth-100 {
        min-width: 100px;
    }

    .EnetUI-MinWidth-125 {
        min-width: 125px;
    }

    .EnetUI-MinWidth-150 {
        min-width: 150px;
    }

    .EnetUI-MinWidth-175 {
        min-width: 175px;
    }

    .EnetUI-MinWidth-200 {
        min-width: 200px;
    }

    .EnetUI-MinWidth-225 {
        min-width: 225px;
    }


    .EnetUI-MinWidth-250 {
        min-width: 250px;
    }


    .EnetUI-MinWidth-300 {
        min-width: 300px;
    }

    .EnetUI-MinWidth-325 {
        min-width: 325px;
    }

    .EnetUI-MinWidth-350 {
        min-width: 350px;
    }

    .EnetUI-MinWidth-375 {
        min-width: 375px;
    }

    .EnetUI-MinWidth-400 {
        min-width: 400px;
    }

    .EnetUI-MinWidth-425 {
        min-width: 425px;
    }

    .EnetUI-MinWidth-450 {
        min-width: 450px;
    }

    .EnetUI-MinWidth-475 {
        min-width: 475px;
    }

    .EnetUI-MinWidth-500 {
        min-width: 500px;
    }

    .EnetUI-MinWidth-525 {
        min-width: 525px;
    }

    .EnetUI-MinWidth-550 {
        min-width: 550px;
    }

    .EnetUI-MinWidth-575 {
        min-width: 575px;
    }

    .EnetUI-MinWidth-600 {
        min-width: 600px;
    }

    .EnetUI-MinWidth-625 {
        min-width: 625px;
    }


    .EnetUI-MinWidth-650 {
        min-width: 650px;
    }

    .EnetUI-MinWidth-675 {
        min-width: 675px;
    }

    .EnetUI-MinWidth-700 {
        min-width: 700px;
    }

    .EnetUI-MinWidth-725 {
        min-width: 725px;
    }

    .EnetUI-MinWidth-750 {
        min-width: 750px;
    }

    .EnetUI-MinWidth-775 {
        min-width: 775px;
    }

    .EnetUI-MinWidth-800 {
        min-width: 800px;
    }

    .EnetUI-MinWidth-825 {
        min-width: 825px;
    }

    .EnetUI-MinWidth-850 {
        min-width: 850px;
    }

    .EnetUI-MinWidth-875 {
        min-width: 875px;
    }

    .EnetUI-MinWidth-900 {
        min-width: 900px;
    }

    .EnetUI-MinWidth-925 {
        min-width: 925px;
    }

    .EnetUI-MinWidth-950 {
        min-width: 950px;
    }

    .EnetUI-MinWidth-975 {
        min-width: 975px;
    }

    .EnetUI-MinWidth-1000 {
        min-width: 1000px;
    }


    .ENET-UI-Modal-Form {
        min-width: 500px;
        min-height: 500px;
    }

        .ENET-UI-Modal-Form .ENET-UI-Modal-Header, .ENET-UI-Modal-Form header {
            /*background-color: Green;*/
            min-height: 16.43px;
            border-bottom: 1px solid #E5E5E5;
        }

        .ENET-UI-Modal-Form .ENET-UI-Modal-Footer {
            text-align: right;
            /* background-color: Red;*/
        }

        .ENET-UI-Modal-Form .ENET-UI-Modal-Body {
            position: relative;
            /* background-color: lightblue;*/
            overflow: auto;
        }

    .ENET-UI-FormFooter {
        padding: 15px 15px 15px 0px;
        border-top: 1px solid #E5E5E5;
    }

    .dropdown-menu-wider {
        min-width: 200px;
        left: -40px;
    }

        .dropdown-menu-wider > .EnetUI-PadRight-Small {
            padding: 4px 12px;
        }

        .dropdown-menu-wider li.dd-heading {
            padding-top: 4px;
            text-align: center;
        }

        .dropdown-menu-wider li {
            padding-left: 30px;
        }


    /*
    Truncation helpers
*/

    .OF-table-row-truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .OF-truncate-at-25 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 25px;
        text-overflow: ellipsis;
    }


    .OF-truncate-at-50 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 50px;
        text-overflow: ellipsis;
    }

    .OF-truncate-at-75 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 75px;
        text-overflow: ellipsis;
    }

    .OF-turncate-at-100 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 100px;
        text-overflow: ellipsis;
    }

    .OF-turncate-at-150 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
        text-overflow: ellipsis;
    }

    .OF-turncate-at-200 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
        text-overflow: ellipsis;
    }

    .OF-turncate-at-250 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
        text-overflow: ellipsis;
    }
    /*
    END of Truncation helpers
*/


    a.disableLink {
        pointer-events: none;
        cursor: default;
        opacity: 0.55;
    }


    .EnetUI-Calendar-Content .nav > li > a {
        padding: 0px;
    }


    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        _width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

        .ui-autocomplete .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
        }

            .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
                color: #ffffff;
                text-decoration: none;
                background-color: #0088cc;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                background-image: none;
            }

    /*
Hides all the links and buttons that are part of the print popup as the user
should not be allowed to do any operation in the popup
*/
    #contentToPrint a {
        display: none;
    }

    #contentToPrint button {
        display: none;
    }

    /*
Hides the custom filter row on the print popup
*/
    #contentToPrint .EJS-Grid-FilterForm {
        display: none;
        padding: 0px;
    }



    .dragAndDropZone {
        border: 2px dashed #CBCFD2;
        border-radius: 5px;
        background: white;
        text-align: center;
        line-height: 800px;
        z-index: 10;
        opacity: 0.95;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

        .dragAndDropZone p {
            padding: 25px;
            color: rgb(157, 148, 148);
            text-align: center;
            font-size: 3.0em;
            font-weight: normal;
        }


    .Positive {
        color: rgba(42, 197, 42, 0.94);
        min-width: 41px;
        max-width: 41px;
    }

    .Negative {
        color: #f00;
        min-width: 41px;
    }

    .Neutral {
        color: #000;
        min-width: 41px;
    }

    .panel-noborder .table-noborder td,
    .panel-noborder .table-noborder th {
        padding: 8px 15px;
        border-top: 0;
    }

    .panel-noborder .table-noborder thead > tr > th {
        border-bottom: 1px solid #eaeef1;
    }

    .table-no-border > thead > tr > th,
    .table-no-border > tbody > tr > th,
    .table-no-border > tfoot > tr > th,
    .table-no-border > thead > tr > td,
    .table-no-border > tbody > tr > td,
    .table-no-border > tfoot > tr > td {
        border-top: none;
    }

    .Enet-UI-MarginTop-None {
        margin-top: 0px;
    }


    .Enet-UI-MarginBottom-None {
        margin-bottom: 0px;
    }


    /*=====================================================
 Scrollable content
=====================================================*/

    .app .Enet-UI-FixedPage {
        margin-top: 60px;
    }


    .Enet-UI-SmartScroll {
        width: 100%;
    }

        .Enet-UI-SmartScroll .SmartScroll-body {
            margin-top: 0;
            min-height: 150px;
            height: 500px;
            max-height: 90%;
            overflow: auto;
        }


            .Enet-UI-SmartScroll .SmartScroll-body .row {
                width: 98%
            }

        .Enet-UI-SmartScroll .SmartScroll-header {
            height: 40px;
        }

        .Enet-UI-SmartScroll .SmartScroll-footer {
            height: 40px;
        }


            .Enet-UI-SmartScroll .SmartScroll-footer.height-75 {
                height: 75px;
            }



    /*======================
    Print CSS
======================*/
    @media screen {
        .ewf-multipageprint {
        }

        .ewf-multipageprint-page-1, .ewf-multipageprint-page-2, .ewf-multipageprint-page-3, .ewf-multipageprint-page-4, .ewf-multipageprint-page-5, .ewf-multipageprint-page-header-inserted, .ewf-multipageprint-page-footer-inserted {
            display: none;
        }
    }

    @media print {
        .ewf-multipageprint, .ewf-multipageprint-page-header, .ewf-multipageprint-page-footer {
            display: none;
        }

        .ewf-multipageprint-pagebreak {
            page-break-after: always;
        }

        .ewf-multipageprint-page-1, .ewf-multipageprint-page-2, .ewf-multipageprint-page-3, .ewf-multipageprint-page-4, .ewf-multipageprint-page-5 {
        }

            .ewf-multipageprint-page-1 .ewf-multipageprint-2, .ewf-multipageprint-page-1 .ewf-multipageprint-3, .ewf-multipageprint-page-1 .ewf-multipageprint-4, .ewf-multipageprint-page-1 .ewf-multipageprint-5 {
                display: none;
            }

            .ewf-multipageprint-page-2 .ewf-multipageprint-1, .ewf-multipageprint-page-2 .ewf-multipageprint-3, .ewf-multipageprint-page-2 .ewf-multipageprint-4, .ewf-multipageprint-page-2 .ewf-multipageprint-5 {
                display: none;
            }

            .ewf-multipageprint-page-3 .ewf-multipageprint-1, .ewf-multipageprint-page-3 .ewf-multipageprint-2, .ewf-multipageprint-page-3 .ewf-multipageprint-4, .ewf-multipageprint-page-3 .ewf-multipageprint-5 {
                display: none;
            }

            .ewf-multipageprint-page-4 .ewf-multipageprint-1, .ewf-multipageprint-page-4 .ewf-multipageprint-2, .ewf-multipageprint-page-4 .ewf-multipageprint-3, .ewf-multipageprint-page-4 .ewf-multipageprint-5 {
                display: none;
            }

            .ewf-multipageprint-page-5 .ewf-multipageprint-1, .ewf-multipageprint-page-5 .ewf-multipageprint-2, .ewf-multipageprint-page-5 .ewf-multipageprint-3, .ewf-multipageprint-page-5 .ewf-multipageprint-4 {
                display: none;
            }
    }


    .CSA-UI-borderall {
        border-width: 1px 0 1px 1px !important;
        border-top: 0 !important;
    }

    .enet-noborder-left {
        border-left: 0 !important;
    }

    .enet-noborder-right {
        border-right: 0 !important;
    }


    .enet-noborder-top {
        border-top: 0 !important;
    }

    .enet-noborder-bottom {
        border-bottom: 0 !important;
    }

    .enet-calender-container {
        min-height: 150px;
        padding: 0px;
        position: relative;
    }

    .enet-calender-container-data:hover {
        background-color: #E0E6F0;
        cursor: pointer;
    }
