﻿.storeName 
{
       
        padding-left:25px;
        padding-right:10px;
        list-style: none;
        background-color: #f5f5f5;
         
}

.dropdown-submenu.pull-left>.dropdown-menu::after {
    content: '';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    border-right:7px solid #ccc;
    position: absolute;
    top: 12px;
    left: 100%;
}
.dropdown-submenu.pull-left>.dropdown-menu::before {
    display: none;
}


.dropdown-submenu.submenu-default>.dropdown-menu::after {
    content: '';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    border-left:7px solid #ccc;
    position: absolute;
    top: 9px;
    left:-14px;
     
}

.EWF-NoMargin
{
    margin-bottom:0px;
}

@media (max-width: 767px) {
.dropdown-menu.pull-right {
right: 0;
left: auto !important;
}
}


form .form-control
{
    width:auto!important;
}

