*:focus {
  outline: 0; }

.select-wrapper {
  padding: 0.1873em 0;
  line-height: 1em;
  border-radius: 0.25em;
  background: url(/images/down-chevron.svg) no-repeat;
  background-position: right 0.75em center;
  border: solid 1px #ccc;
  pointer-events: none;
  cursor: pointer;
  vertical-align: middle; }

select {
  padding-left: 0.75em;
  padding-right: 2.25em;
  border: none;
  pointer-events: auto;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: window;
  cursor: pointer;
  padding-top: 0.2em;
  padding: 0.375em 0.5em; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

select::-ms-expand {
  display: none; }

.document-upload .btf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  width: 100%;
  max-width: 80%;
  min-width: 330px;
  height: auto;
  border: 1px solid #69B5D3;
  z-index: 5;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  font-size: 16px; }
  .document-upload .btf-modal .modal-header {
    *zoom: 1;
    height: 70px;
    background-color: #f1f1f1;
    padding: 1.5em 1em 0.5em 1em;
    position: relative; }
    .document-upload .btf-modal .modal-header:before, .document-upload .btf-modal .modal-header:after {
      display: table;
      content: '';
      line-height: 0; }
    .document-upload .btf-modal .modal-header:after {
      clear: both; }
    .document-upload .btf-modal .modal-header .modal-title {
      font-weight: bold;
      font-size: 1.2em; }
    .document-upload .btf-modal .modal-header .modal-close {
      position: absolute;
      right: 0.5em;
      top: 0.2em;
      font-size: 1.7em;
      -webkit-transform: rotatez(45deg);
          -ms-transform: rotatez(45deg);
              transform: rotatez(45deg);
      font-weight: bold;
      cursor: pointer; }
  .document-upload .btf-modal .modal-body {
    padding: 1em;
    height: 300px;
    overflow-y: scroll; }
  .document-upload .btf-modal .modal-footer {
    padding: 1em;
    background-color: #f1f1f1;
    *zoom: 1; }
    .document-upload .btf-modal .modal-footer:before, .document-upload .btf-modal .modal-footer:after {
      display: table;
      content: '';
      line-height: 0; }
    .document-upload .btf-modal .modal-footer:after {
      clear: both; }
    .document-upload .btf-modal .modal-footer .modal-footer-button {
      float: right;
      padding: 0.6em 1em;
      background-color: #69B5D3;
      color: white;
      margin: 0 0.4em;
      border-radius: 4px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer; }
      .document-upload .btf-modal .modal-footer .modal-footer-button:hover {
        background-color: #72C4E4; }

.uploader-modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4; }

.upload-view h3 {
  font-size: 20px; }
.upload-view .uploader-container {
  border: 2px dashed #72C4E4;
  padding: 1em;
  height: 7em;
  text-align: center;
  vertical-align: center;
  -webkit-transition: background-color 250ms ease;
          transition: background-color 250ms ease;
  cursor: pointer; }
  .upload-view .uploader-container span {
    position: relative;
    top: 1.2em;
    color: #72C4E4;
    font-size: 1.2em;
    -webkit-transition: color 250ms ease;
            transition: color 250ms ease; }
  .upload-view .uploader-container.dragged-over {
    background-color: rgba(114, 196, 228, 0.7); }
    .upload-view .uploader-container.dragged-over span {
      color: white; }
.upload-view .file-type-select {
  margin-top: 1em; }

.data-view {
  font-size: 16px; }
  .data-view .data-view-heading input {
    display: none; }
  .data-view .data-view-heading span {
    cursor: pointer;
    color: #69B5D3;
    text-decoration: underline; }
  .data-view .data-view-heading .upload-status {
    display: inline-block; }
  .data-view .data-view-heading.dragged-over {
    background-color: rgba(114, 196, 228, 0.4); }
    .data-view .data-view-heading.dragged-over:after {
      content: "- drop now"; }
  .data-view .data-view-table {
    width: 100%;
    margin-top: 2em; }
  .data-view .data-view-table .data-view-table-header,
  .data-view .data-view-table .data-view-table-row {
    font-size: 0; }
  .data-view .data-view-table .data-view-table-row:nth-child(2n) {
    background-color: #F9F9F9; }
  .data-view .data-view-table .table-header-item,
  .data-view .data-view-table .table-row-item {
    box-sizing: border-box;
    display: inline-block;
    width: 33.3333%;
    font-size: 16px;
    padding: 0.1em 0.3em;
    padding-bottom: 0.4em;
    color: #69B5D3; }
  .data-view .data-view-table .table-header-item {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 1em; }
    .data-view .data-view-table .table-header-item.right {
      text-align: right; }
  .data-view .data-view-table .table-row-item {
    padding: 0.3em 0.3em;
    font-size: 14px;
    color: #888;
    height: 30px; }
    .data-view .data-view-table .table-row-item input {
      width: 100%;
      color: #888; }
    .data-view .data-view-table .table-row-item.clickable {
      cursor: pointer;
      color: #D35D5A;
      text-decoration: underline; }
    .data-view .data-view-table .table-row-item.right {
      text-align: right; }
      .data-view .data-view-table .table-row-item.right a {
        color: #D35D5A; }
