﻿.EnetReportControl.table thead th
{
    color:Black;
    font:12pt;
    font-weight:bold;
    /*border: 1px rgb(220,220,220) solid !important;*/
    border-right:none;
  
}

IMG {
      display      : none ;
     }

.EnetUI-ShowOnlyInPrint
{
    display:block;
}


.table.EnetReport tbody td
{
    color:Black;
    background-color:White;
    
}

.EnetPrintHeader
{
    font-size: 21px;
    color: #333333;
}

.table.EnetReport tfoot th
{
    background-color: rgb(242,242,242);

    border: none;
}

.table.EnetReport tfoot td
{
    border: none;
}
.table.EnetReport
{
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4); 
   
    border: 2px solid rgb(242,242,242);*/
    border:0px!important;
    width:100%;
  
}

.table.EnetGrid2 
{
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px 1px rgba(186, 186, 186, 0.4);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4); 
   
    border: 2px solid rgb(242,242,242);*/
    border:0px!important;
    width:100%;
  
}

       
.navbar,.ENETOpFilter
{
    display:none;
}

.enetReportToolBox
{
    display:none;
}

.enetreportcontainer
{
    border:none;
}

.well-white {
min-height: 0px;
padding: 19px;
margin-bottom: 20px;
border: 0px solid #eee;
border: 0px solid rgba(0, 0, 0, 0.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0px 0px;


}


.enetReportFilterBox
{
    box-shadow: 0px 0px 0px 0px;
}

#subMenuBar 
{
    display:none;
}

#footerContainer
{
    display:none;
}

a {
   display:none; 
}

.btn-group 
{
    display:none;
}

button 
{
   display:none; 
}


.EnetGrid2 .panel
{
 border:none;    
}

.EnetGrid2 .table thead th
{
    border-top:none; 
}


.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}


@page :left {
  @bottom-left {
    content: counter(page);
  }
}

table.CSP-Print-Compact td, table.CSP-Print-Compact th
{
    padding-right: 2px !important;
    padding-left: 2px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}




.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

.dataTables_paginate {
    display: none;

}
.EWF-table-responsive {
    margin-bottom: 0px !important;
}
.enetreportcontainer {
    margin-bottom: 0px !important;
}