/* casual reset */

body {
	background-color: #F2F4F8;
}

.billing-and-pricing * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.billing-and-pricing {
	font-family: "Helvetica Neue", "Helvetica", sans-serif !important;
	font-size: 18px;
	font-weight: 400;
	color: #808080;
}

.billing-and-pricing header {
	background-color: #fff;
	font-size: 22px;
	color: #333333;
	padding: 15px 25px;
}
.billing-and-pricing header span {
	text-decoration: underline;
	cursor: pointer;
}
.billing-and-pricing .settings-view.is-hidden,
.billing-and-pricing .billing-view.is-hidden {
	display: none;
}

.billing-and-pricing .current-plan {
	padding: 30px 25px;
	margin: 0 auto;
	width: 940px;
}
.billing-and-pricing .current-plan:after {
	content: "";
	clear: both;
	display: table;
}


.billing-and-pricing .current-plan .current-plan-image {
	width: 140px;
	float: left;
}

.billing-and-pricing .current-plan .current-plan-image img {
	width: 100%;
}

.billing-and-pricing .current-plan-details {
	float: left;
	position: relative;
	padding-top: 30px;
	padding-left: 30px;
}

.billing-and-pricing .current-plan-details .details-heading {
	color: #177BBB;
	font-size: 25px;
	font-weight: 500;
}

.billing-and-pricing .current-plan-details .details-plan {
	color: #9CC847;
}

.billing-and-pricing .current-plan-details .details-divider {
	width: 370px;
	height: 1px;
	background-color: #979797;
	margin: 10px 0;
}

.billing-and-pricing .plans {
	width: 940px;
	margin: 20px auto 0 auto;
	margin-bottom: 30px;
}

.billing-and-pricing .plans .tab-buttons {
	margin-bottom: 10px;
	border-bottom: 1px solid #8B8B8B;
}

.billing-and-pricing .plans .tab-buttons:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .plans .tab-buttons .tab-button {
	height: 72px;
	width: 232px;
	background-color: #ddd;
	padding: 10px 20px;
	cursor: pointer;
	float: left;
	user-select: none;
}

.billing-and-pricing .plans .tab-buttons .tab-button.is-selected {
	background-color: #327DB8;
}

.billing-and-pricing .plans .tab-buttons .tab-button.is-selected .tab-button-heading {
	color: white;
}

.billing-and-pricing .plans .tab-buttons .tab-button .tab-button-heading {
	font-size: 20px;
	color: #283544;
}

.billing-and-pricing .plans .tab-buttons .tab-button .tab-button-heading.tap-button-monthly {
	line-height: 50px;
}

.billing-and-pricing .plans .tab-buttons .tab-button p {
	font-size: 14px;
	color: #9CC847;
	padding-top: 5px;
}

.billing-and-pricing .tab-views .tab-annual-view.tab-is-hidden,
.billing-and-pricing .tab-views .tab-monthly-view.tab-is-hidden {
	display: none;
}

.billing-and-pricing .plans .tab-views .tab-annual-view:after,
.billing-and-pricing .plans .tab-views .tab-monthly-view:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .plans .tab-views .pricing-item {
	width: 300px;
	height: 340px;
	color: white;
	padding-top: 30px;
	position: relative;
	float: left;
	background-color: #b9b9b9;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-addon-list {
	display: none;
}

.billing-and-pricing .plans .tab-views .pricing-item.selected {
	background-color: #177BBB;
}

.billing-and-pricing .plans .tab-views .pricing-item.selected .pricing-item-addon-list {
	display: block;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-heading {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 6px;
	width: 180px;
	margin: 0 auto;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-price {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	width: 180px;
	margin: 0 auto;
	padding: 5px 0 0;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-price span {
	font-size: 18px;
	padding-right: 2px;
	position: relative;
	bottom: 8px;
}

.billing-and-pricing .plans .tab-views .pricing-item p {
	font-size: 14px;
	width: 180px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-divider {
	width: 240px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-description {
	width: 180px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-select-button {
	background-color: rgba(00, 00, 00, 0.25);
	border-top: 1px solid white;
	text-align: center;
	padding: 15px 0;
	cursor: pointer;
	color: white;
	user-select: none;
	/*position: absolute;
	bottom: 0*/;
}

/*.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-addon-list .pricing-item-plus-sign {
	width: 50px;
	color: white;
	font-weight: 500;
	font-size: 55px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-addon-list {
	background-color: rgba(250, 250, 250, 0.25);
}

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-addon-list .addon-item {
	height: 50px;
	border-bottom: 1px solid white;
	padding: 20px 10px 40px 10px;
}*/


.billing-and-pricing .add-on-list {
	width: 940px;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 30px;
}

.billing-and-pricing .add-on-list .add-on-list-heading {
	font-size: 25px;
	font-weight: 400;
	color: white;
	background-color: #9CC847;
	padding: 15px 25px;
}

.billing-and-pricing .list-wrapper {
	padding: 15px 25px;
}

.billing-and-pricing .addon-item {
	padding: 5px 0;
}
/* CUSTOM CHECKBOXES */


.billing-and-pricing .addon-item [type="checkbox"]:not(:checked),
.billing-and-pricing .addon-item [type="checkbox"]:checked {
	position: absolute;
  	left: -9999px;
}

.billing-and-pricing .addon-item [type="checkbox"]:not(:checked) + label,
.billing-and-pricing .addon-item [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.billing-and-pricing .addon-item [type="checkbox"]:not(:checked) + label:before,
.billing-and-pricing .addon-item [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #333333;
  background-color: rgba(250, 250, 250, 0.25);
}

.billing-and-pricing .addon-item [type="checkbox"]:not(:checked) + label:after,
.billing-and-pricing .addon-item [type="checkbox"]:checked + label:after {
	content: '\2714';
	width: 13px;
	height: 13px;
	display: inline-block;
	position: absolute;
	top: -4px;
	left: 5px;
	transition: all .2s;
}

.billing-and-pricing .addon-item [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.billing-and-pricing .addon-item [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* END OF CUSTOM CHECKBOXES */

.billing-and-pricing .plans .tab-views .pricing-item .pricing-item-select-button {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.billing-and-pricing .plans .tab-views .pricing-item.single-store {
	margin-right: 20px;
}

.billing-and-pricing .plans .tab-views .pricing-item.multistore {
	margin-right: 20px;
}

.billing-and-pricing .proceed-button {
	background-color: #177BBB;
	width: 300px;
	padding: 15px 25px;
	margin: 0 auto;
	text-align: center;
	color: white;
	cursor: pointer;
	margin-bottom: 20px;
	border: 0;
	border-radius: 4px;
	font-size: 18px;
	display: block;
}

.billing-and-pricing .proceed-button:disabled {
	background-color: white;
	border: gray;
	color: gray;
	cursor: no-drop;
}

/* BILLING VIEW */

.billing-and-pricing .billing-wrapper {
	width: 940px;
	margin: 0 auto;
	padding-top: 50px;
}
.billing-and-pricing .billing-wrapper:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .left-side {
	width: 620px;
	float: left;
}

.billing-and-pricing .left-side .payment-method-heading {
	font-size: 25px;
	font-weight: 400;
	color: #333333;
}

.billing-and-pricing .left-side .payment-method-list {
	padding-top: 20px;
}
.billing-and-pricing .left-side .payment-method-list .payment-method-item {
	background-color: #fff;
	padding: 20px 25px;
	margin-bottom: 2px;
}

.billing-and-pricing .left-side .payment-method-list .payment-method-item label {
	padding-left: 10px;
	user-select: none;
}

.billing-and-pricing .left-side .add-new-method {
	padding: 40px 0;
}

.billing-and-pricing .left-side .add-new-method-heading {
	font-size: 25px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 20px;
}

.billing-and-pricing .left-side .new-method-form {
	background-color: #fff;
	padding: 20px 25px;
	margin-bottom: 20px;
}

.billing-and-pricing .left-side .new-method-form .form-item:after {
	content: "";
	clear: both;
	display: table;
}
.billing-and-pricing .left-side .new-method-form .form-item {
	margin-bottom: 20px;
}

.billing-and-pricing .left-side .new-method-form .form-item:last-child {
	margin-bottom: 0;
}
.billing-and-pricing .left-side .new-method-form .form-item p {
	font-size: 12px;
	width: 200px;
	display: inline-block;
	position: relative;
	top: 5px;
	padding-left: 10px;

}
.billing-and-pricing .left-side .new-method-form .form-item label {
	float: left;
	width: 270px;
	padding: 0 20px 0 0;
	position: relative;
	top: 16px;
}

.billing-and-pricing .left-side .new-method-form .form-item input,
.billing-and-pricing .left-side .new-method-form .form-item select {
	height: 52px;
	background-color: #fff;
	border: 1px solid #979797;
	border-radius: 4px;
	font-size: 18px;
	color: #808080;
	padding: 0 15px;
	outline: none;
}

.billing-and-pricing .left-side .new-method-form .form-item input.cc-number {
	width: 300px;
}

.billing-and-pricing .left-side .new-method-form .form-item input.cc-year {
	width: 90px;
	border-radius: 4px;
	display: inline-block;
	float: right;
}

.billing-and-pricing .left-side .new-method-form .form-item input.cc-cvc {
	width: 90px;
}

.billing-and-pricing .left-side .new-method-form .form-item input.routing-number {
	width: 300px;
}

.billing-and-pricing .left-side .new-method-form .form-item select {
	width: 200px;
	border-radius: 4px;
	height: 52px;
	background-color: #fff;
	display: inline-block;
}

.billing-and-pricing .left-side .add-new-card-button {
	background-color: #177BBB;
	text-align: center;
	color: white;
	padding: 15px 25px;
	border-radius: 4px;
	cursor: pointer;
}
.billing-and-pricing .right-side {
	overflow: hidden;
	padding-left: 20px;
}
.billing-and-pricing .right-side .billing-summary-heading {
	font-size: 18px;
	color: #333333;
	font-weight: 400;
	padding: 20px 0 10px 0;

}

.billing-and-pricing .right-side .billing-summary-heading:after {
	content: " ";
	width: 165px;
	height: 1px;
	background-color: #333;
	display: block;
}
.billing-and-pricing .right-side .billing-summary-item {
	font-size: 16px;
	padding: 2px 0;
}
.billing-and-pricing .right-side .billing-summary-item:after,
.billing-and-pricing .right-side .billing-summary-total:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .right-side .billing-summary-item .summary-item-name {
	float: left;
}
.billing-and-pricing .right-side .billing-summary-item .summary-item-price {
	float: right;
}

.billing-and-pricing .right-side .billing-summary-total {
	padding-top: 40px;
	padding-bottom: 8px;
	color: #333333;
	font-weight: 400;
	border-bottom: 1px solid #333;
}
.billing-and-pricing .right-side .billing-summary-total .summary-total-name {
	float: left;
}

.billing-and-pricing .right-side .billing-summary-total .summary-total-price {
	float: right;
}


.billing-and-pricing .right-side .billing-coupon-link {
	color: #9CC847;
	padding: 10px 0;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}

.billing-and-pricing .right-side .billing-coupon-link:hover {
	color: #9CC847;
	text-decoration: underline;
}

.billing-and-pricing .right-side .billing-coupon-group:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .right-side .coupon-button {
	float: right;
	border: none;
	height: 40px;
	width: 80px;
	position: relative;
	top: 20px;
	font-size: 14px;
	background-color: #9CC847;
	color: white;
	cursor: pointer;
	outline: none;
	transition: background-color 250ms ease;
}

.billing-and-pricing .right-side .coupon-button:hover  {
	background-color: #333;
}

.billing-and-pricing .right-side .billing-coupon-field input {
	width: 200px;
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
	outline: none;
	margin: 20px 0 10px 0;
	background-color: #F2F4F8;
	border: 1px solid #D5D5D5;
	color: #808080;
	float: left;
}



.billing-and-pricing .right-side .billing-submit {
	background-color: #9CC847;
	font-size: 18px;
	font-weight: 400;
	padding: 15px 0;
	color: white;
	text-align: center;
	margin: 20px 0;
	cursor: pointer;
	transition: background-color 250ms ease;
}
.billing-and-pricing .right-side .billing-submit:hover {
	background-color: #333;
}

.billing-and-pricing .notice-overlay {
	position: absolute;
	width: 500px;
	height: 270px;
	top: 50%;
	background-color: #fff;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 5px 0px;
}
.billing-and-pricing .notice-overlay .notice-heading {
	color: #9CC847;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 10px 20px;
}
.billing-and-pricing .notice-overlay p {
	padding: 10px 20px;
}

.billing-and-pricing .notice-bg {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 0;
	opacity: 0.8;
}
.billing-and-pricing .notice-overlay .notice-buttons {
	padding: 10px 20px;
	margin-top: 30px;
}

.billing-and-pricing .notice-overlay .notice-buttons:after { 
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .notice-overlay button.cancel-downgrade,
.billing-and-pricing .notice-overlay button.proceed-downgrade {
	border: 0;
	color: white;
	background-color: #9CC847;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	float: right;
	cursor: pointer;
}

.billing-and-pricing .notice-overlay button.cancel-downgrade {
	background-color: white;
	color: #9CC847;
	border: 1px solid #9CC847;	
	float: left;
}
.billing-and-pricing .left-side .new-methods-tabs:after {
	content: "";
	clear: both;
	display: table;
}

.billing-and-pricing .left-side .new-method-tab-button {
	cursor: pointer;
	background-color: white;
	width: 200px;
	float: left;
	padding: 20px 20px;
}

.billing-and-pricing .left-side .new-method-tab-button.active {
	background-color: #333;
	color: white;
}


.billing-and-pricing .left-side .back-to-settings-link,
.billing-and-pricing .left-side .back-to-settings-link:active,
.billing-and-pricing .left-side .back-to-settings-link:visited {
	color: inherit;
	text-decoration: none;
}
.billing-and-pricing .left-side .back-to-settings-link:hover {
	color: #9CC847;
	text-decoration: underline;
}
}
