﻿/* 
	Author: Omar E.
	This file is responsible for the styling of the Side and Top Menu
*/

/* Changes top menu background color */
.gray-bg {
	background-color: var(--base-white) !important;
}

/* Side menu font color */
/* aside #EWF-Menu-Main li a {
  color: white !important;
} */
.main-sidebar-csp {
	margin-bottom: 15px;
}
.main-sidebar-csp > div:first-child > div {
	border: 1px solid var(--medium-gray)
}

.main-sidebar-csp-text {
	color: var(--soft-black)
}

.main-sidebar-csp-text p span span{
	color: var(--dark-gray)
}

.main-sidebar-csp > div:first-child {
	display: inline-block;
}

.main-sidebar-csp-text {
	float: right;
}
.main-sidebar {
	padding-top: 0;
}

.main-sidebar-logo {
	height: 60px;
	background: var(--pdi-blue);
	border: none;
}

.main-sidebar-logo img {
	max-height: 100%;
	padding-top: 2px;
}
.navbar-collapse {
	background: var(--pdi-blue);
}
.nav.navbar-nav.main-nav.second-nav i.pdi-icon-Profile {
	font-size: 20px;
	position: relative;
	top: 1px;
}

.main-sidebar-list {
	border-top: 1px solid var(--medium-gray);
}

.main-sidebar-list li {
	padding: 5px;
}

.nav.navbar-nav.main-nav.second-nav i.pdi-icon-Information {
	position: relative;
	top: 2px;
	font-size: 22px;
}

.nav.navbar-nav.main-nav.second-nav i.pdi-icon-Tooltip {
	font-size: 22px;
	position: relative;
	top: 2px;
}

/* Side menu colors  */
aside #EWF-Menu-Main li a:focus, 
aside #EWF-Menu-Main li a {
	border-radius: 6px !important;
	padding: 5px 8px;
	background-color: var(--base-white) !important;
	font-size: 13px;
}
aside #EWF-Menu-Main li a:hover {
	background-color: var(--light-gray) !important;
	color: var(--pdi-blue);
}

aside #EWF-Menu-Main li.active >  a {
	background-color: var(--soft-blue) !important;
	color: var(--pdi-blue);
}




/* Removes icons and collapse button from side menu */

aside #EWF-Menu-Main li a i, aside #EWF-Menu-Main li.main-sidebar-btn {
	display: none;
}

/* TOP menu Carets */
.caret {
	width: 0;
  height: 0;
  display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: white transparent transparent transparent !important;
}

/* Side menu font color */
/* #EWF-Menu-TopMain li a {
  color: white !important;
} */


#EWF-Menu-TopMain li a {
	color: var(--base-white) !important;
}

/* Removes Icons from the top menu */
#EWF-Menu-TopMain li a i { 
	display: none;
}

/* Top Menu rollover color */
#EWF-Menu-TopMain li a:hover {
  background-color: var(--pdi-blue) !important;
}
/* Top Menu active color */
#EWF-Menu-TopMain li.active a {
  background-color: var(--pdi-blue) !important;
}

#EWF-Menu-TopMain ul.header-dropdown-menu {
	/* box-shadow: 0 0 20px 0px #f6f6f6; */
}
#EWF-Menu-TopMain ul.header-dropdown-menu,
#EWF-Menu-TopMain ul.header-dropdown-menu li {
	background: white !important;
	box-shadow: none;
	padding-bottom: 5px;
}
#EWF-Menu-TopMain ul.header-dropdown-menu li a {
	background-color: #fff !important;
	color: var(--base-black) !important;
}

#EWF-Menu-TopMain ul.header-dropdown-menu li:last-child a {
	border-radius: 0 0 6px 6px;
}

/* Top Menu children rollover color */
#EWF-Menu-TopMain li.active a {
	background-color: var(--base-white) !important;
	color: var(--pdi-blue) !important;
}

#EWF-Menu-TopMain li.active li {
	background-color: var(--base-white) !important;
	padding: 0 5px !important;
}
#EWF-Menu-TopMain li.active li a {
	border-radius: 6px;
}
#EWF-Menu-TopMain li.active li a:hover {
	color: var(--pdi-blue) !important;
	background-color: var(--light-gray) !important;
}