﻿/* 
	Author: Omar E.
	Base File for the PDI Style makeover
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");
@import url("pdi-icons.css");
@import url("variables.css");
@import url("navigation.css");

body {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: var(--soft-black);
}

.tbl-font {
  font-family: "Hind Siliguri";
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: var(--soft-black);
}
