@font-face {
  font-family: 'pdi-iconfont';
  src:
    url('iconfont/pdi-iconfont.ttf?ubpr5x') format('truetype'),
    url('iconfont/pdi-iconfont.woff?ubpr5x') format('woff'),
    url('iconfont/pdi-iconfont.svg?ubpr5x#pdi-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.glyphicon, i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'FontAwesome', 'pdi-iconfont', 'Glyphicons Halflings';
	/* AS PER VISHNU */
	font-family: 'FontAwesome', 'pdi-iconfont', 'Glyphicons Halflings';
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pdi-icon-Add:before {
  content: "\e900";
	color: white;
}
.pdi-icon-Alert:before {
  content: "\e901";
	color: white;
}
.pdi-icon-Analytics:before {
  content: "\e902";
	color: white;
}
.pdi-icon-Apps:before {
  content: "\e903";
	color: white;
}
.pdi-icon-Archives:before {
  content: "\e904";
	color: white;
}
.pdi-icon-BackArrow:before {
  content: "\e905";
	color: white;
}
.pdi-icon-Bookmark:before {
  content: "\e906";
	color: white;
}
.pdi-icon-Brightness:before {
  content: "\e907";
	color: white;
}
.pdi-icon-Building:before {
  content: "\e908";
	color: white;
}
.pdi-icon-Calendar:before {
  content: "\e909";
	color: white;
}
.pdi-icon-Canvas2:before {
  content: "\e90a";
}
.pdi-icon-Charts:before {
  content: "\e90b";
	color: white;
}
.pdi-icon-Chat:before {
  content: "\e90c";
	color: white;
}
.pdi-icon-Checkmark:before {
  content: "\e90d";
	color: white;
}
.pdi-icon-City:before {
  content: "\e90e";
	color: white;
}
.pdi-icon-Clock:before {
  content: "\e90f";
	color: white;
}
.pdi-icon-Close:before {
  content: "\e910";
	color: white;
}
.pdi-icon-ClosedCaption:before {
  content: "\e911";
	color: white;
}
.pdi-icon-Cloud:before {
  content: "\e912";
	color: white;
}
.pdi-icon-CodeScanning:before {
  content: "\e913";
	color: white;
}
.pdi-icon-ColumnView:before {
  content: "\e914";
	color: white;
}
.pdi-icon-Confirmation:before {
  content: "\e915";
	color: white;
}
.pdi-icon-ConfirmationThinLarge:before {
  content: "\e916";
	color: white;
}
.pdi-icon-ContactList:before {
  content: "\e917";
	color: white;
}
.pdi-icon-CopyDuplicate:before {
  content: "\e918";
	color: white;
}
.pdi-icon-CreditCard:before {
  content: "\e919";
	color: white;
}
.pdi-icon-DarkMode:before {
  content: "\e91a";
	color: white;
}
.pdi-icon-DashboardA:before {
  content: "\e91b";
	color: white;
}
.pdi-icon-DashboardB:before {
  content: "\e91c";
	color: white;
}
.pdi-icon-Delete:before {
  content: "\e91d";
	color: white;
}
.pdi-icon-Denied:before {
  content: "\e91e";
	color: white;
}
.pdi-icon-Destination:before {
  content: "\e91f";
	color: white;
}
.pdi-icon-Directions:before {
  content: "\e920";
	color: white;
}
.pdi-icon-Download:before {
  content: "\e921";
	color: white;
}
.pdi-icon-Edit:before {
  content: "\e922";
	color: white;
}
.pdi-icon-FastFoward:before {
  content: "\e923";
	color: white;
}
.pdi-icon-Favorite:before {
  content: "\e924";
	color: white;
}
.pdi-icon-FileStorage:before {
  content: "\e925";
	color: white;
}
.pdi-icon-Filter:before {
  content: "\e926";
	color: white;
}
.pdi-icon-Fingerprint:before {
  content: "\e927";
	color: white;
}
.pdi-icon-FolderStructure:before {
  content: "\e928";
	color: white;
}
.pdi-icon-FolderUpload:before {
  content: "\e929";
	color: white;
}
.pdi-icon-FoodServices:before {
  content: "\e92a";
	color: white;
}
.pdi-icon-ForwardArrow:before {
  content: "\e92b";
	color: white;
}
.pdi-icon-Fuel:before {
  content: "\e92c";
	color: white;
}
.pdi-icon-GasStation:before {
  content: "\e92d";
	color: white;
}
.pdi-icon-GPS:before {
  content: "\e92e";
	color: white;
}
.pdi-icon-Group3705:before {
  content: "\e92f";
	color: white;
}
.pdi-icon-Group4675:before {
  content: "\e930";
	color: white;
}
.pdi-icon-Group4835:before {
  content: "\e931";
	color: white;
}
.pdi-icon-Group5169:before {
  content: "\e932";
	color: white;
}
.pdi-icon-HamburgerMenu:before {
  content: "\e933";
	color: white;
}
.pdi-icon-HelpAssistance:before {
  content: "\e934";
	color: white;
}
.pdi-icon-History:before {
  content: "\e935";
	color: white;
}
.pdi-icon-Home:before {
  content: "\e936";
	color: white;
}
.pdi-icon-IDBadge:before {
  content: "\e937";
	color: white;
}
.pdi-icon-Images:before {
  content: "\e938";
	color: white;
}
.pdi-icon-Inbox:before {
  content: "\e939";
	color: white;
}
.pdi-icon-InboxIncoming:before {
  content: "\e93a";
	color: white;
}
.pdi-icon-InboxOutgoing:before {
  content: "\e93b";
	color: white;
}
.pdi-icon-Information:before {
  content: "\e93c";
	color: white;
}
.pdi-icon-ListBoard:before {
  content: "\e93d";
	color: white;
}
.pdi-icon-ListView:before {
  content: "\e93e";
	color: white;
}
.pdi-icon-LogOut:before {
  content: "\e93f";
	color: white;
}
.pdi-icon-MagnifyIn:before {
  content: "\e940";
	color: white;
}
.pdi-icon-MagnifyOut:before {
  content: "\e941";
	color: white;
}
.pdi-icon-Mail:before {
  content: "\e942";
	color: white;
}
.pdi-icon-MailOpen:before {
  content: "\e943";
	color: white;
}
.pdi-icon-Map:before {
  content: "\e944";
	color: white;
}
.pdi-icon-MapLocationStart:before {
  content: "\e945";
	color: white;
}
.pdi-icon-MapPin:before {
  content: "\e946";
	color: white;
}
.pdi-icon-MedicalNotes:before {
  content: "\e947";
	color: white;
}
.pdi-icon-Microphone:before {
  content: "\e948";
	color: white;
}
.pdi-icon-MoreItems:before {
  content: "\e949";
	color: white;
}
.pdi-icon-Navigation:before {
  content: "\e94a";
	color: white;
}
.pdi-icon-News:before {
  content: "\e94b";
	color: white;
}
.pdi-icon-NoteMessage:before {
  content: "\e94c";
	color: white;
}
.pdi-icon-Notification:before {
  content: "\e94d";
	color: white;
}
.pdi-icon-OpenFolder:before {
  content: "\e94e";
	color: white;
}
.pdi-icon-Path10366:before {
  content: "\e94f";
	color: white;
}
.pdi-icon-Pause:before {
  content: "\e950";
	color: white;
}
.pdi-icon-PayStatements:before {
  content: "\e951";
	color: white;
}
.pdi-icon-PersonalTime:before {
  content: "\e952";
	color: white;
}
.pdi-icon-Phone:before {
  content: "\e953";
	color: white;
}
.pdi-icon-PhotoCapture:before {
  content: "\e954";
	color: white;
}
.pdi-icon-Pin:before {
  content: "\e955";
	color: white;
}
.pdi-icon-Preferences:before {
  content: "\e956";
	color: white;
}
.pdi-icon-Print:before {
  content: "\e957";
	color: white;
}
.pdi-icon-Profile:before {
  content: "\e958";
	color: white;
}
.pdi-icon-Ratings:before {
  content: "\e959";
	color: white;
}
.pdi-icon-Receipt:before {
  content: "\e95a";
	color: white;
}
.pdi-icon-Refresh:before {
  content: "\e95b";
	color: white;
}
.pdi-icon-ReorderList:before {
  content: "\e95c";
	color: white;
}
.pdi-icon-Repeat:before {
  content: "\e95d";
	color: white;
}
.pdi-icon-Reply:before {
  content: "\e95e";
	color: white;
}
.pdi-icon-ReplyAll:before {
  content: "\e95f";
	color: white;
}
.pdi-icon-Resize:before {
  content: "\e960";
	color: white;
}
.pdi-icon-Rewind:before {
  content: "\e961";
	color: white;
}
.pdi-icon-Save:before {
  content: "\e962";
	color: white;
}
.pdi-icon-Savings:before {
  content: "\e963";
	color: white;
}
.pdi-icon-Search:before {
  content: "\e964";
	color: white;
}
.pdi-icon-Secure:before {
  content: "\e965";
	color: white;
}
.pdi-icon-Settings:before {
  content: "\e966";
	color: white;
}
.pdi-icon-Share:before {
  content: "\e967";
	color: white;
}
.pdi-icon-ShortTractor:before {
  content: "\e968";
	color: white;
}
.pdi-icon-Show:before {
  content: "\e969";
	color: white;
}
.pdi-icon-SiteLocation:before {
  content: "\e96a";
	color: white;
}
.pdi-icon-Sort:before {
  content: "\e96b";
	color: white;
}
.pdi-icon-SortHightoLow:before {
  content: "\e96c";
	color: white;
}
.pdi-icon-SortLowtoHigh:before {
  content: "\e96d";
	color: white;
}
.pdi-icon-Start:before {
  content: "\e96e";
	color: white;
}
.pdi-icon-Stop:before {
  content: "\e96f";
	color: white;
}
.pdi-icon-StopWatch:before {
  content: "\e970";
	color: white;
}
.pdi-icon-Store:before {
  content: "\e971";
	color: white;
}
.pdi-icon-Subtract:before {
  content: "\e972";
	color: white;
}
.pdi-icon-Tag:before {
  content: "\e973";
	color: white;
}
.pdi-icon-Terms:before {
  content: "\e974";
	color: white;
}
.pdi-icon-ThumbsDown:before {
  content: "\e975";
	color: white;
}
.pdi-icon-ThumbsUp:before {
  content: "\e976";
	color: white;
}
.pdi-icon-TileView:before {
  content: "\e977";
	color: white;
}
.pdi-icon-Tools:before {
  content: "\e978";
	color: white;
}
.pdi-icon-Tooltip:before {
  content: "\e979";
	color: white;
}
.pdi-icon-Union64:before {
  content: "\e97a";
	color: white;
}
.pdi-icon-Union65:before {
  content: "\e97b";
	color: white;
}
.pdi-icon-Union66:before {
  content: "\e97c";
	color: white;
}
.pdi-icon-Union68:before {
  content: "\e97d";
	color: white;
}
.pdi-icon-Union74:before {
  content: "\e97e";
	color: white;
}
.pdi-icon-Union75:before {
  content: "\e97f";
	color: white;
}
.pdi-icon-Union76:before {
  content: "\e980";
	color: white;
}
.pdi-icon-Union104:before {
  content: "\e981";
	color: white;
}
.pdi-icon-Unsecure:before {
  content: "\e982";
	color: white;
}
.pdi-icon-VacationA:before {
  content: "\e983";
	color: white;
}
.pdi-icon-VacationB:before {
  content: "\e984";
	color: white;
}
.pdi-icon-Video:before {
  content: "\e985";
	color: white;
}
.pdi-icon-VolumeDown:before {
  content: "\e986";
	color: white;
}
.pdi-icon-VolumeMute:before {
  content: "\e987";
	color: white;
}
.pdi-icon-VolumeOn:before {
  content: "\e988";
	color: white;
}
.pdi-icon-VolumeUp:before {
  content: "\e989";
	color: white;
}
.pdi-icon-Warning:before {
  content: "\e98a";
	color: white;
}
