/* 
	Author: Omar E.
	PDI Standard Colors and other reusable variables
*/

:root {
	/* PRIMARY and NEUTRAL COLORS */
	--pdi-blue: #06409E;
	--action-blue: #0D6AFF;
	--light-blue: rgb(155, 190, 247);
	--soft-blue: #F3F8FE;
	--base-white: #ffffff;
	--light-gray: #F9F9FB;
	--medium-gray: #D3D2D2;
	--dark-gray: #757575;
	--soft-black: #333333;
	--base-black: #000000;
}